﻿@model HrAdmin2.Models.ViewModels.PositionHierarchyVm

@{
    ViewBag.Title = "Index";
}
<ul class="items" id="koList">
    <li>
        <span class="item" style="font-weight: bold;" data-bind="text: P.OU"></span>
        <span class="item" data-bind="text: P.T, css: { vacant: P.V() }"></span>
        <span data-bind="text: ' [' + (P.V() ? 'VACANT ' + P.SN() : P.SN()) + ']'"></span>
        <ul class="items" data-bind="template: { name: 'nodeTmpl', foreach: DR }"></ul>
    </li>
</ul>

@section pagecss {
<style>
.collapsed {
    display: none;
}

.emp {
    text-decoration: none !important;
}

.handle {
    cursor: pointer;
    text-decoration: none;
    background-color: #ccc;
    color: #000;
    font-weight: bold;
    font-size: .8em;
    /*border: 1px solid black;*/
    padding: 0 2px 0 2px;
    margin: 1px;
}

.item {
    cursor: pointer;
    padding: 0px;
}

.items {
    list-style-type: none;
    padding-left: 12px;
    font-size: 10pt;
}

.position {
    text-decoration: none !important;
}

</style>
}
@section scripts {
<script>
    var treevm;
    var treedata = @(Html.Raw(Json.Encode(Model)));
    for (var i = 0; i < treedata.DR.length; i++) {
        // setting all but first level collapsed:
        treedata.DR[i].isCollapsed = true;
    }
    //    var st = new Date().getTime();
    
    var PositionModel = function(o) {
        //this.isSelected = ko.computed(function() {
        //    var is = treevm.SelectedItem() && this === treevm.SelectedItem();
        //    return (is);
        //}, this);
        this.parentVm = o.parent || treevm;
        // just to fix items saved before property was added:
        //alert('here');
        if (typeof o.data.isCollapsed == "undefined") { o.data['isCollapsed'] = true; }
        var mOpt = {
            DR: {
                // TODO: lazy creation?  create only if parent is expanded...
                create: function(o) {
                    //return new ItemModel(o, _this);
                    return new PositionModel(o);
                }
            },
            ignore: ["isSelected"]
        }
        ko.mapping.fromJS(o.data, mOpt, this);
    };

    function bindData(td) {
        var tv = new PositionModel({data: td, parent: treevm});
        //treevm.SelectedItem = ko.observable(); // no need for empty object.
        ko.applyBindings(tv, $('#koList')[0]);
    }
    treedata.isCollapsed = false; // default root to open
    bindData(treedata);
    // *note*, binding entire agency takes nearly a second in IE8.  Lazy-binding or different browser may be preferable.
    //    alert('binding et: ' + (new Date().getTime() - st) + ' ms.');
    function toggleSubNodes(i,e) {
//        selectItem(i,e,true); // true = toggle
       i.isCollapsed(!i.isCollapsed());
    }

</script>
}
<script type="text/html" id="nodeTmpl">
<li>
    <span class='handle' data-bind="text: DR().length && isCollapsed() ? '+' : '~', click: function(i,e) { toggleSubNodes(i,e); }"></span>
    <span class="item" style="font-weight: bold;" data-bind="text: P.OU"></span>
    <a data-bind="css: { position: true }, attr: { href: '@Url.Content("~")Position/' + P.Id() }"><span class="item" data-bind="    text: P.T, css: { vacant: P.V(), supervisor: P.SV() }"></span></a>
    <a data-bind="css: { emp: true }, attr: { href: '@Url.Content("~")Employee/' + P.EmpId() }"><span class="item" data-bind="    css: { vacant: P.V() }, text: '[' + (P.V() ? 'VACANT ' + P.SN() : P.SN()) + ']'"></span></a>
    <ul class="items" data-bind="css: { collapsed: $data.isCollapsed != undefined && $data.isCollapsed() }, template: { name: 'nodeTmpl', foreach: DR }"></ul>
</li>
</script>