﻿@using HrAdmin2.Models.ViewModels;
@model PositionHierarchyVm

@{
    ViewBag.Title = "CTS Position Hierarchy";
}
@helper RenderNode(PositionHierarchyVm n) {
    <ul class="items@(n.P.Depth > 1 ? " collapsed" : "")">
    @foreach (PositionHierarchyVm sn in n.DR)
    {
        <li id="@sn.P.Id">
            <span class='@(sn.DR.Count > 0 ? "handle" : "nohandle")' onclick="toggle(this);">@(sn.DR.Count > 0 ? "+" : "~")</span>
            <span class="item" style="font-weight: bold;">@sn.P.OU</span>
            @if (sn.P.Id == 5013 || sn.P.Id == 5226) {
                <span class="day">Day</span>
                <span class="swing">Swing</span>
            }
            @if (sn.P.Id == 5135) {
                <span class="day">Day</span>
                <span class="swing">Swing</span>
                <span class="grave">Grave</span>
            }
            <a class="position" href="@(Url.Content("~") + "Position/" + sn.P.Id)"><span class="item@(sn.P.ShiftCode.Equals("G") ? " grave" : (sn.P.ShiftCode.Equals("S") ? " swing" : (sn.P.ShiftCode.Equals("D") ? " day" : "")))">@sn.P.T</span></a>
            @if (sn.P.MF) {
                <span style="background-color: yellow;">@(sn.P.Id)</span>
            }
            @if (sn.P.V) {
            <span class="item vacant">[VACANT @(sn.P.SN)]</span>
            }
            else {
            <a class="@(sn.P.ApptStartDate > DateTime.Now ? "coming-soon" :  (sn.P.ApptEndDate.HasValue ? "leaving-soon" : "emp"))" href="@(Url.Content("~") + "Employee/" + sn.P.EmpId)"><span class="item">[@(sn.P.SN + (sn.P.ApptStartDate > DateTime.Now ? ": starts " + sn.P.ApptStartDate.ToShortDateString() : (sn.P.ApptEndDate.HasValue ? ": leaving " + (sn.P.ApptEndDate.HasValue ? sn.P.ApptEndDate.Value.ToShortDateString() : "") : "")))]</span></a>
            }
            @if (sn.DR.Count > 0)
            {
                @RenderNode(sn)
            }
        </li>
    }
    </ul>
}
<h4>@ViewBag.Title</h4>
<a href="#" onclick="expandAll();">expand</a> / 
<a href="#" onclick="collapseAll();">collapse</a> all
<ul id="PositionTree" class="items">
        <li class="item" id="@Model.P.Id">
            <span class='@(Model.DR.Count > 0 ? "handle" : "nohandle")' onclick="toggle(this);">@(Model.DR.Count > 0 && Model.P.Id != 5202 ? "+" : "~")</span>
            <span style="font-weight: bold;">@Model.P.OU</span>
            <a class="position" href="@(Url.Content("~") + "Position/" + Model.P.Id)"><span class="@(Model.P.V ? "vacant " : "")">@Model.P.T</span></a>
            <a class="emp" href="@(Url.Content("~") + "Employee/" + Model.P.EmpId)"><span class="@(Model.P.V ? "vacant " : "")">[@(Model.P.V ? "VACANT " : "")@(Model.P.SN)]</span></a>
            @RenderNode(Model)
        </li>
</ul>
@section pagecss {
<style>
.collapsed {
    display: none;
}

.emp {
    text-decoration: none !important;
    color: #B00 !important;
    padding: 0;
}

a.emp :hover {
    text-decoration: underline;
    background-color: #feb;
}

.coming-soon {
    color: #060 !important;
    background-color: #bdb;
    text-decoration: none;
    padding: 0;
}

.coming-soon :hover {
    text-decoration: underline;
    background-color: #feb;
}

.leaving-soon {
    color: #600 !important;
    background-color: #DAA;
    text-decoration: none;
    padding: 0;
}

.leaving-soon :hover {
    text-decoration: underline;
    background-color: #feb;
}

.day {
    background-color: #96afcf;
}

.grave {
    background-color: #f28226;
}

.swing {
    background-color: #cadaa9;
}

.handle {
    cursor: pointer;
    text-decoration: none;
    background-color: #ccc;
    color: #000;
    font-weight: bold;
    font-size: .8em;
    border: 1px solid #666;
    padding: 0 2px 0 2px;
    /*margin: 1px;*/
}

.nohandle {
    font-size: .8em;
    padding: 1px 3px 1px 3px;
    /*margin: 1px;*/
}

.item {
    padding: 0 !important;
}

.items {
    list-style-type: none;
    padding-left: 16px;
    font-size: 1em;
}

a.position {
    text-decoration: none !important;
    padding: 0;
    color: #036;
}

a.position:hover {
    text-decoration: underline !important;
    background-color: #feb;
}
</style>
}
@section scripts {
    <script>
        var c = document.cookie; // assumes expanded node list is complete cookie.
        var expanded = {}; // TODO: read JSON from cookie if exists.
        if (c && c.indexOf('expanded=') > -1) {
            var xc = c.match(/expanded=\d+(,\d+)*/)[0].substring(9);
            if (xc.indexOf(',') > 0) {
                var keys = xc.split(',');
                for (var i = 0; i < keys.length; i++) {
                    expanded[keys[i]] = 1;
                }
            }
            else {
                expanded[xc] = 1;
            }
        }

        $(function () {
            expandNodes();
        });

        function clearCookie() {
            document.cookie = 'expanded=deleted;expires=' + new Date(0).toUTCString(); // set past expiration to remove cookie
        }

        function collapseAll() {
            clearCookie();
            $('#PositionTree').find('ul').hide();
            $('#PositionTree .handle').text('+')
        }

        function expandAll() {
            clearCookie();
            $('#PositionTree').find('ul').show();
            $('#PositionTree .handle').text('~')
        }

        function expandNodes() {
            for (var k in expanded) {
                var h = $('#' + k + ' .handle').first();
                h.text('~');
                $('#' + k).children('ul').first().show();
            }
        }

        function toggle(handle) {
            var originli = $(handle).parent('li');
            if (originli.children('ul').length == 0) { return; };
            originli.children('ul').first().toggle(100);
            var hs = $(handle).text(); // handle state: +: collapsed, ~: expanded
            if (hs == '+') {
                expanded[originli.attr('id')] = 1;
            }
            else {
                delete expanded[originli.attr('id')];
            }
            $(handle).text(hs == '+' ? '~' : '+');
            var keys = [];
            for (var k in expanded) {
                keys.push(k);
            }
            if (keys.length == 0) {
                document.cookie = 'expanded=deleted;expires=' + new Date(0).toUTCString(); // set past expiration to remove cookie
            }
            else {
                document.cookie = 'expanded=' + (keys.length > 1 ? keys.join(',') : keys[0]);
//                ;// + 'expires=' + new Date(0).toUTCString(); // set past expiration to remove cookie
            }
            // keys is ES5 syntax : alert('expanded: ' + expanded.keys().join(','));
        }
    </script>
}