﻿@model HrAdmin2.Models.ViewModels.BulkUpdateVm

@{
    ViewBag.Title = "Bulk Update";
    Layout = "~/Views/Shared/_Layout_ng.cshtml";
}

@section headscript {
<script src="~/Scripts/app/ng-admin.js"></script>
}

<h3>Bulk Update Positions</h3>

<div id="ng-app" ng-app="admin" ng-controller="BulkUpdateController">
    <div>
        @Html.ListBox("Position", Model.PosSelection, new Dictionary<string, object> { {"ng-model", "SelectedPosIds" }, {"size", 18 }})
    </div>
    <div>
        new supervisor: @Html.DropDownList("SupervisorEmpId", Model.SupervisorEmpSelection, new Dictionary<string, object>{ {"ng-model", "UpdateVals.SupervisorEmpId"}})
        <button ng-click="update()">update</button>
    </div>
</div>