﻿@model HrAdmin2.Models.ViewModels.CostCenterListVm

@{
    ViewBag.Title = "Manage Cost Centers";
    Layout = "~/Views/Shared/_Layout_ng.cshtml";
}

@section headscript {
<script>
    var rows = @Html.Raw(Json.Encode(Model.CostCenters)); // raw JSON for use as Angular Model.
</script>
<script src="~/Scripts/app/ng-admin.js"></script>
}

<h3>@ViewBag.Title</h3>

<div id="ng-app" ng-app="admin" ng-controller="CostCenterController">
<!-- TODO: consider column enumerator for resultset model -->
<table class="admintable">
    <tr>
        <th style="width: 15px;"><a ng-click="sort('Id')">Code</a></th>
        <th><a ng-click="sort('IsActive')">Active?</a></th>
        <th><a ng-click="sort('DescShort')">Short Description</a></th>
        <th><a ng-click="sort('DescLong')">Description</a></th>
        <th><a ng-click="sort('ManagerName')">Manager</a></th>
        <th><a ng-click="sort('Positions')">Positions</a></th>
        <th><a ng-click="sort('Vacancies')">Vacancies</a></th>
    </tr>
    <tr class="editrow" ng-class="{'async-add': isAdding(newItem)}">
        <td>
            <div ng-switch on="isAdding(newItem)">
                <span ng-switch-when="true"><img src="~/Scripts/jstree/themes/default/throbber.gif" /></span>
                <span ng-switch-default>
                    <input type="text" ng-model="newItem.Id" />
                </span>
            </div>
        </td>
        <td style="text-align: center;"><input type="checkbox" ng-model="newItem.IsActive" /></td>
        <td><input type="text" placeholder="Short Description" ng-model="newItem.DescShort" /></td>
        <td><input type="text" placeholder="Description" ng-model="newItem.DescLong" /></td>
        <td>@Html.DropDownList("ManagerEmpId", Model.EmpSelection,
                new Dictionary<string, object> { {"ng-model", "newItem.ManagerEmpId" } })
        </td>
        <td colspan="2" style="text-align: center;"><button style="width: 100%;" ng-click="addItem(newItem)">add</button></td>
    </tr>
    <tr ng-cloak ng-repeat="item in costcenters"
        ng-class="{
            'async-delete': item.IsDeleting,
            'async-update': isUpdating(item),
            'was-added': wasAdded(item),
            'even': $index % 2,
            'odd': !($index %2)
        }">
        <td class="right-align">
             <span ng-switch on="isAdding(item) || isUpdating(item) || isDeleting(item)">
                <span ng-switch-when="true"><img src="~/Scripts/jstree/themes/default/throbber.gif" /></span>
                 <span ng-switch-default>
                        <span ng-switch on="item.Positions == 0 && !isDeleting(item) && !isUpdating(item)"><a ng-switch-when="true" ng-click="deleteItem(item)">X</a></span>&nbsp;<span ng-class="{ inactive: ! item.IsActive }">{{ item.Id }}</span>
                </span>
             </span>
        </td>
        <td class="center-align"><input type="checkbox" ng-click="updateItem(item, $event)"  ng-checked="isActive(item)" ng-disabled="item.Positions"></input></td>
        <td ng-class="{ inactive: ! item.IsActive }">{{item.DescShort}}</td>
        <td ng-class="{ inactive: ! item.IsActive }">{{item.DescLong}}</td>
        <td>{{item.ManagerName}}</td>
        <td class="right-align">
            <span ng-switch on="item.Positions > 0">
            <a ng-switch-when="true" href='@Url.Content("~")position?CostCenter={{item.Id}}'>{{item.Positions}}</a>
                <span ng-switch-default>
                    {{ item.Positions }}
                </span>
            </span>
        </td>
        <td class="right-align">
            <span ng-switch on="item.Vacancies > 0">
            <a ng-switch-when="true" href='@Url.Content("~")position?CostCenter={{item.Id}}&IsVacant=true'>{{item.Vacancies}}</a>
            <span ng-switch-default>
                {{ item.Vacancies }}
            </span>
            </span>
        </td>
    </tr>
</table>