﻿@{
    ViewBag.Title = "Pending Expirations";
    Layout = "~/Views/Shared/_Layout_ng.cshtml";
}

@section headscript {
<script src="~/Scripts/app/ng-admin.js"></script>
}
<div id="ng-app" ng-app="admin" ng-controller="ExpirationController">
    <h3>@ViewBag.Title</h3>
    <div ng-switch on="path">
        <div ng-switch-when="">
            <span>HOME</span>
            <ul>
                <li><a href="#/ExpiringDelegate">Approval Delegates</a></li>
                <li><a href="#/ExpiringContract">Employment Contracts</a></li>
            </ul>
        </div>
        <div ng-switch-when="/ExpiringDelegate">
            <a href="#">HOME</a>
            <h4>Expiring Delegates:</h4>
            <table class="admintable">
                <tr>
                    <th>Delegated</th><th>Delegated To</th><th>Start</th><th>End</th><th>Days Left</th>
                </tr>
                <tr ng-repeat="d in ExpiringDelegates" ng-class="{'even': $index % 2, 'odd': !($index %2 )}">
                    <td style="text-align: left;"><a href="~/position/{{d.DelegatedPositionId}}/approval">{{d.DelegatedPositionId + ': ' + d.DelegatedName}}</a></td>
                    <td style="text-align: left;">{{ d.DelegatedToName }}</td>
                    <td>{{ d.StartDate | date:'M/d/yyyy'}}</td>
                    <td ng-class="{'overdue': d.DaysLeft < 0, 'due-soon': (d.DaysLeft >=0 && d.DaysLeft < 15), 'due-later': d.DaysLeft >= 15 }">{{d.EndDate | date: 'M/d/yyyy'}}</td>
                    <td ng-class="{'overdue': d.DaysLeft < 0, 'due-soon': (d.DaysLeft >=0 && d.DaysLeft < 15), 'due-later': d.DaysLeft >= 15 }">{{d.DaysLeft}}</td>
                </tr>
            </table>
        </div>
        <div ng-switch-when="/ExpiringContract">
            <a href="#">HOME</a>
            <h4>Expiring Contracts:</h4>
            <table class="admintable">
                <tr>
                    <th>Employee</th><th>Position</th><th>Contract</th><th>Start</th><th>End</th><th>Days Left</th><th>Reminder</th>
                </tr>
                <tr ng-repeat="c in ExpiringContracts" ng-class="{'even': $index % 2, 'odd': !($index %2 )}">
                    <td style="text-align: left;"><a href="~/employee/{{c.EmpId}}">{{c.EmpName}}</a></td>
                    <td style="text-align: right;"><a href="~/position/{{c.PosId}}">{{c.PosId}}</a></td>
                    <td>{{c.ContractType}}</td>
                    <td>{{c.ApptStart | date:'M/d/yyyy'}}</td>
                    <td ng-class="{'overdue': c.DaysLeft < 0, 'due-soon': (c.DaysLeft >=0 && c.DaysLeft < 60), 'due-later': c.DaysLeft >= 60 }">{{c.ContractEnd | date:'M/d/yyyy'}}</td>
                    <td style="text-align: right;" ng-class="{'overdue': c.DaysLeft < 0, 'due-soon': (c.DaysLeft >=0 && c.DaysLeft < 60), 'due-later': c.DaysLeft >= 60 }">{{c.DaysLeft}}</td>
                    <td style="text-align: center;"><a href="~/Admin/email/expiringcontract/{{c.EmpId}}" target="_blank">preview</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>