﻿@model HrAdmin2.Models.ViewModels.ImpersonationVm

@{
    ViewBag.Title = "Manage Impersonation";
    Layout = "~/Views/Shared/_Layout_ng.cshtml";
}
@section headscript {
<script>
    var impid = '@(Model.Imp.ImpersonatingUserId.HasValue ? Model.Imp.ImpersonatingUserId.ToString() : "")'; // raw JSON for use as Angular Model.
</script>
<script src="~/Scripts/app/ng-admin.js"></script>
}

<h3>@ViewBag.Title</h3>

<div id="ng-app" ng-app="admin" ng-controller="ImpersonationController">

Impersonate:
        @Html.DropDownList("ImpersonatingUserId", Model.UserSelection,
        new Dictionary<string, object> { {"ng-model", "imp.ImpersonatingUserId" }, {"ng-change", "changeUser()"}, {"ImpersonatingUserId", Model.Imp.ImpersonatingUserId } })
<span ng-show="imp.ImpersonatingUserId"><a ng-click="imp.ImpersonatingUserId = ''; changeUser();">stop impersonation</a></span>
<span ng-class="{'async-update': isUpdating()}">{{ status }}</span>
</div>
@*@(Model.Imp.ImpersonatingUserId.HasValue ? Model.Imp.ImpersonatingUserId.ToString() : "")*@
