﻿@model HrAdmin2.Models.ViewModels.ApprovalDelegateEmailVm
@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
        <meta name="viewport" content="width=device-width" />
		<title>HR Apps Approval Authority Delegation @Model.CreatedOrDeleted</title>
		
        <style type="text/css">
            body {
                background-color: #fff;
                color: #000;
                font-size: .85em;
                font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
                /*margin: 0;*/
                padding: 0;
            }

            /* Outlook ignores this too.  using deprecated <div align="center"> instead.
            table {
                margin-left: auto;
                margin-right: auto;
            }
            */
            table {
                text-align: left;
                width: 600px;
            }
            /*tr.heading {
                background-color: #DDDDDD;
            }
                (Outlook doesn't support CSS background-color for tables...use bgcolor instead.)
                */

            th {
                text-align: right;
            }

            td.heading {
                background-color: #DDD;
            }

            td.data {
                border: 1px solid black;
            }

            td.data-changed {
                border: 1px solid black;
                background-color: yellow;
            }

        </style>
		
    </head>
	<body>
        
        @if (Model.CreatedOrDeleted == "Created")
        {
            <p>CTS HR Apps approval authority delegation @Model.CreatedOrDeleted by @Model.CreateEmpPreferredName @Model.CreateEmpLastName. </p>
            <p>@Model.DelegatedToPreferredName @Model.DelegatedToLastName has been given approval authority for approvals assigned to @Model.DelegatedPositionPersonPreferredName @Model.DelegatedPositionPersonLastName position #@Model.DelegatedPositionIdString @Model.DelegatedPositionTitle. 
                Duration of delegation is from @Model.StartDateString to @Model.EndDateString. </p>
        }
        @if (Model.CreatedOrDeleted == "Deleted")
        {
            <p>CTS HR Apps approval authority delegation @Model.CreatedOrDeleted by @Model.DeleteEmpPreferredName @Model.DeleteEmpLastName. </p>
            <p>@Model.DelegatedToPreferredName @Model.DelegatedToLastName has been removed from delegating @Model.DelegatedPositionPersonPreferredName @Model.DelegatedPositionPersonLastName position #@Model.DelegatedPositionIdString @Model.DelegatedPositionTitle.</p>
        }
                
        <p><a href="@(Model.UrlPath)" >CTS HR Apps</a></p>
        <p>Thank you.</p>
        
        
        <hr />
        <div align="center">
            <table>
                <tr bgcolor="#DDDDDD">
                    <td colspan="2" class="heading">
                        @Model.CreatedOrDeleted Delegation
                    </td>
                </tr>
                <tr>
                    <th>Start Date:</th>
                    <td class="data">@Model.StartDateString</td>
                </tr>
                <tr>
                    <th>End Date:</th>
                    <td class="data">@Model.EndDateString</td>
                </tr>
                <tr>
                    <th>Delegated Position:</th>
                    <td class="data">@Model.DelegatedPositionPersonPreferredName @Model.DelegatedPositionPersonLastName position #@Model.DelegatedPositionIdString @Model.DelegatedPositionTitle</td>
                </tr>
                <tr>
                    <th>Delegated to Employee:</th>
                    <td class="data">@Model.DelegatedToPreferredName @Model.DelegatedToLastName</td>
                </tr>
                @if(Model.Delegate.Apps.Count > 0)
                {
                    <tr bgcolor="#DDDDDD">
                        <td colspan="2" class="heading">Assigned Applications</td>
                    </tr>                    
                    foreach (var app in Model.Delegate.Apps)
                    {
                        <tr><th>@app.Name</th></tr>
                    }
                }
            </table>
        </div>
	</body>
</html>
