﻿@{
    var omm = (HrAdmin2.Controllers.OrgManagerVm)Model;
}
<div style="min-height: 1.6em; font-size: .9em;">
    <div class="formAction" style="float: left; padding: 0px;">
        <select id="EmpAction" class="action-selector">
            <option value =""> - Select Employee Action - </option>
            <option value ="U3-pay">change pay only</option>
            <option value ="UJ">change status</option>
            <option value ="U3-2">change work schedule</option>
            <option value ="U3">modify appointment</option>
            <option value ="U8">schedule leave of absence</option>
            <option value ="UA">return from leave of absence</option>
            <option value ="U5">separate</option>
            <option value ="U3-81">transfer out</option>
        </select>
        <span class="employee" style="cursor: pointer;" onclick="performAction('PosAction');">create PAR</span>
    </div>
    <div id="statusbar" style="float: right; background-color: #ffdd88;">
        <span id="Spinner" style="display: none;"><img src="~/Scripts/jstree/themes/default/throbber.gif" /></span>
        <span id="ApptStatusMessage"></span>
    </div>
</div>
<div id="appt-accordion">
    <h4 style="padding-left: 30px;">Appointment</h4>
    <div style="max-height: 180px;">
        <table class="itemDetail2" style="margin-top: 0px; margin-bottom: 0px;">
            <tr>
                <th style="vertical-align: top;">Incumbent:</th>
                <td><span data-bind="text: Appt.LastName() + ', ' + Appt.PreferredName()">Incumbent Name</span></td>
            </tr>
            <tr><th>Contract:</th><td>
@*@Html.DropDownList("ContractList", omm.ContractList, new Dictionary<string, object> { {"data-bind", "value: $data ? $data.ContractTypeCode : ''" }})*@
                <span data-bind="text: Appt.WorkContractTypeDesc"></span>
            </td></tr>
            <tr><th>Fill Level:</th><td>
@*@Html.DropDownList("JobClassList", omm.JobClassList, new Dictionary<string, object> { {"data-bind", "value: $data.FillLevel" }})*@
                <span data-bind="text: Appt.FillLevelDesc"></span>
                                    </td></tr>
                        <tr><th>Schedule:</th>
                <td>
@*@Html.DropDownList("WorkSchedule", omm.WorkScheduleList, new Dictionary<string, object> { {"data-bind", "value: $data ? $data.WorkScheduleCode : ''" }})*@
                <span data-bind="text: Appt.WorkScheduleDesc"></span>
@*                    <input type="text" style="max-width: 30px; margin-top: 0px; margin-bottom: 0px; padding: 2px;" data-bind="value: $data ? $data.EmploymentPercent : '100.00'" />% fulltime*@
                    (<span data-bind="text: Appt.EmploymentPercent"></span>% fulltime)
                </td>
            </tr>
@*            <tr><th>Time Mgt Status:</th>
                <td>
                    <input style="width: 12px;" type="radio" name="addtype" value="9" checked="checked" />Monthly
                    <input style="width: 12px;" type="radio" name="addtype" value="1" />Hourly
                </td>
            </tr>*@
@*            <tr><th>Leave Accrual (ATID):</th><td>
                    <select id="WorkSchedule">
                        <option value="00" selected="selected">Full Normal</option>
                        <option value="01">None</option>
                        <option value="02">Sick Leave Only</option>
                    </select>
                                              </td></tr>*@
        </table>
    </div>
    <h4 style="padding-left: 30px;">Pending Action Requests</h4>
    <div>
        <table class="itemDetail2" style="margin-top: 0px; margin-bottom: 0px;">
            <tr>
                <th style="text-align: center;">Id</th>
                <th style="text-align: center;">Action</th>
                <th style="text-align: center;">Reason / Type</th>
                <th style="text-align: center;">Effective</th>
            </tr>
            <tbody id="EmpParList" data-bind="foreach: OpenPars">
                <tr data-bind="visible: Id()">
                    <td>
                        <a data-bind="attr: { href: '@Url.Content("~")' + 'par/' + Id() }"><span data-bind="text: Id"></span></a>
                    </td>
                    <td>
                        <span data-bind="text: ActionDescription"></span>
                    </td>
                    <td>
                        <span data-bind="text: ActionType"></span>
                    </td>
                    <td><span data-bind="text: formatJsonDate(EffectiveDate())"></span></td>
                </tr>
            </tbody>
        </table>
    </div>

@*        <h4 style="padding-left: 30px;">Date Specifications</h4>
    <div style="max-height: 180px;">
        <table class="itemDetail" style="margin-top: 0px; margin-bottom: 0px;">
            <tr>
                <th>Anniversary:</th>
                <td><input id="AnniversaryDate" class="date-input" type="text" data-bind="value: $data ? $data.AnniversaryDate : ''" /></td>
                <th>Appointment:</th>
                <td><input id="ApptDate" class="date-input" type="text" data-bind="value: $data ? $data.AppointmentDate : ''" /></td>
            </tr>
            <tr>
                <th>CTS Hire:</th>
                <td><input id="HireDate" class="date-input" type="text" data-bind="value: $data.CtsHireDate" /></td>
                <th>Pers. Hol. Elig.:</th>
                <td><input id="PersHolEligDate" class="date-input" type="text" data-bind="value: $data.PersonalHolidayElgDate" /></td>
            </tr>
            <tr>
                <th>Pers. Lv Elig.:</th>
                <td><input id="PersLvEligDate" class="date-input" type="text" data-bind="value: $data.PersonalLeaveElgDate" /></td>
                <th>Prior PID:</th>
                <td><input id="PriorPidDate" class="date-input" type="text" data-bind="value: $data.PriorPidDate" /></td>
            </tr>
            <tr>
                <th>Seniority:</th>
                <td><input id="SeniorityDate" class="date-input" type="text" data-bind="value: $data.SeniorityDate" /></td>
                <th>TSR Lv Elig.:</th>
                <td><input id="TsrLvEligDate" class="date-input" type="text" data-bind="value: $data.TsrLeaveElgDate" /></td>
            </tr>
            <tr>
                <th>Unbroken Svc:</th>
                <td><input id="UnbrokenSvcDate" class="date-input" type="text" data-bind="value: $data.UnbrokenServiceDate" /></td>
                <th>Vac. Lv Frozen:</th>
                <td><input id="VacLvFrozenDate" class="date-input" type="text" data-bind="value: $data.VacLeaveFrozenDate" /></td>
            </tr>
        </table>
    </div>
        <h4 style="padding-left: 30px;">Mailing Address</h4>
    <div style="max-height: 180px;">
        <table class="itemDetail" style="margin-top: 0px; margin-bottom: 0px;">
            <tr><th>Street Address:</th>
                <td><input class="detail-text-200px" type="text" data-bind="value: $data.StreetLine1"></input></td>
            </tr>
            <tr><th>City:</th>
                <td><input class="detail-text-200px" type="text" data-bind="value: $data.City"></input></td>
            </tr>
            <tr><th>County:</th><td>@Html.DropDownList("CountyList", omm.CountyList, new Dictionary<string, object> { {"data-bind", "value: $data.CountyId" }})</td></tr>
            <tr><th>State:</th><td><span data-bind="text: $data.State"></span></td></tr>
            <tr><th>Zip Code:</th><td><span data-bind="text: $data.ZipCode"></span></td></tr>
            <tr><th>Home Phone:</th><td><span data-bind="text: $data.HomePhone"></span></td></tr>
        </table>
    </div>
    <h4 style="padding-left: 30px;">Personal Data</h4>
    <div style="max-height: 180px;">
        <table class="itemDetail" style="margin-top: 0px; margin-bottom: 0px;">
            <tr>
                <th>Pers.&nbsp;#:</th>
                <td><span data-bind="text: $data.PersonnelNumber" /></td>
                <th>CTS #:</th>
                <td><span data-bind="text: $data.EmpId"/></td>
            </tr>
            <tr>
                <th>Last:</th>
                <td><input class="detail-text-100px" type="text" data-bind="value: $data ? LastName : ''"></input></td>
                <th>First:</th>
                <td><input class="detail-text-100px" type="text" data-bind="value: $data ? FirstName : ''"></input></td>
            </tr>
            <tr><th>Middle:</th><td><input class="detail-text-100px" type="text" data-bind="value: $data.MiddleName"></input></td>
            <th>Suffix:</th>
                <td><input class="detail-text-100px" type="text" data-bind="value: $data.Suffix"></td>
            </tr>
            <tr><th>AKA:</th>
                <td><input class="detail-text-100px" type="text" data-bind="value: $data.AKA"></td>
            <th>Gender:</th><td>
                <select id="Gender" data-bind="value: $data.Gender">
                    <option value=""> - select - </option>
                    <option value="1">male</option>
                    <option value="2">female</option>
                </select>
                            </td></tr>
            <tr><th>SSN:</th>
                <td><input class="detail-text-100px" id="SSN" type="text" data-bind="value: '123456789'"></td>
                <th>DOB:</th>
                <td><input type="text" class="date-input" id="DOB" data-bind="value: $data.DOB" readonly />
                    </td>
            </tr>
        </table>
</div>
<h4 style="padding-left: 30px;">Personal Data (Supplemental)</h4>
    <div style="max-height: 200px;">
        <table class="itemDetail" style="margin-top: 0px; margin-bottom: 0px;">
            <tr><th>Race / Ethnicity:</th>
                <td>
                <select id="RaceCode" multiple="multiple" size="4">
                    <option>Asian</option>
                    <option>Black</option>
                    <option>Native American</option>
                    <option>Pacific Islander</option>
                    <option>White</option>
                </select>
                Hispanic? <input type="checkbox" id="Hispanic" value="1" /></td>
            </tr>
            <tr>
            <th>Military Status:</th>
                <td>
                    <select id="MilitaryStatus" multiple="multiple" size="4">
                        <option>Unspecified</option>
                        <option>Vietnam-era Veteran</option>
                        <option>Non Vietnam-era Veteran</option>
                        <option>Separated or Retired < $500/mo.</option>
                        <option>Separated or Retired > $500/mo.</option>
                        <option>Separated or Retired Disabled < $500/mo.</option>
                        <option>Separated or Retired Disabled > $500/mo.</option>
                    </select>
                </td>
            </tr>
            <th>Military Branch:</th>
                <td>
                    <select id="MilitaryBranch" multiple="multiple" size="4">
                        <option>Air Force</option>
                        <option>Army</option>
                        <option>Coast Guard</option>
                        <option>Marine</option>
                        <option>National Guard</option>
                        <option>Navy</option>
                    </select>
                Disability? <input type="checkbox" id="Disability" value="1" />
                </td>
            </tr>
        </table>
        </div>*@
</div>

<div id="new-hire" style="background-color: yellow; display: none;">
    New Hire Appointment Type:
</div>
<!--    <h4>Appointment Info</h4>-->
                <div id="detail-appt">
@* this is for showing appointment history for specific employees.  It should be hidden when related position is vacant.
                                        <table >
                        <tr><th>Pos</th><th>Start</th><th>End</th></tr>
                        <tbody data-bind="foreach: ApptHistory">
                            <tr>
                                <td><span data-bind="text: PositionId"></span></td>
                                <td><span data-bind="text: StartDate"></span></td>
                                <td><span data-bind="text: EndDate"></span></td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="compact-list">
                        <li>
                            <input type="checkbox" checked="checked" disabled="disabled" /> Is Primary?
                        </li>
                        <li>
                            <input type="checkbox" checked="checked" disabled="disabled" /> Probationary?
                        </li>
                        <li>
                            <input type="checkbox" disabled="disabled" /> In Training?
                        </li>
                    </ul>
                    <br />
                    Schedule
                    *@
                </div>