﻿@using HrAdmin2.Controllers;
@model Controllers
@{
    ViewBag.Title = "Controller Role Authorization";
}

<h3>Controller Role Authorization</h3>

<table class="admintable">
<tr>
    <th>Controller</th>
    <th>Role</th>
    <th>Create</th>
    <th>Read</th>
    <th>Update</th>
    <th>Delete</th>
</tr>
@foreach (string c in Model.Mvc)
{
        if (Model.AppRolePerm[c].Count > 0) {
            var i=0;
                foreach (RolePermission rp in Model.AppRolePerm[c])
                {
                <tr class="left-heading @(i==0 ? " first-ctl-row" : "")">
                    <th>@(i == 0 ? rp.ControllerName : "")</th>
                    <td>@rp.RoleName</td>
                    <td><input class="borderless" type="checkbox" @(rp.CanCreate ? "checked" : "") /></td>
                    <td><input class="borderless" type="checkbox" @(rp.CanRead ? "checked" : "") /></td>
                    <td><input class="borderless" type="checkbox" @(rp.CanUpdate ? "checked" : "") /></td>
                    <td><input class="borderless" type="checkbox" @(rp.CanDelete ? "checked" : "") /></td>
                </tr>
                i++;
                }
        }
        else {
    <tr class="left-heading even first-ctl-row"><th>@c</th>
        <td><a>[add]</a></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
        }
}
</table>

<h4>API Controllers:</h4>
@foreach (string c in Model.Api)
{
    <li>@c</li>
}
@section pagecss {
<style>
    .overdue {
        background-color: #e99;
        font-weight: bold;
    }
    .due-soon {
        background-color: #ff8;
    }
    .due-later {
        background-color: #6a6;
    }

    .admintable {
        /*color: #333;*/
        /*padding: 2px;
        margin: 1px;*/
        background-color: #fff;
        border: 1px solid black;
    }

    .admintable td {
        padding: 0px 6px 0px 6px;
        font-size: .9em;
        /*padding: 2px 4px 2px 4px;
        text-align: right;
        /*padding-right: 8px !important;*/
    }

    .admintable th {
        font-size: .9em;
        text-align: center;
        color: #feb;
        background-color: #036;
        padding: 2px 4px 2px 4px;
    }

    .admintable tr.first-ctl-row {
        border-top: 1px solid black;
    }

    .left-heading th {
        font-size: .9em;
        /*vertical-align: top;*/
        text-align: right;
        color: #036;
        background-color: #feb;
        padding-right: 6px;
        /*padding: 2px 4px 2px 4px;*/
    }

    .admintable tr.odd {
        background-color: #def;
    }

    .admintable tr.even {
        background-color: #f3f3f3;
    }

    .admintable a {
        color: #036;
        text-decoration: none !important;
    }

    .admintable a:hover {
        text-decoration: underline !important;
        background-color: #feb;
        /*border: 1px solid red;*/
        /*padding: 2px;*/
        /*margin: 1px;*/
    }

</style>
}