﻿@model HrAdmin2.Models.ViewModels.PdfDetailVm
<h3>PDF # {{ vm.Description.Id }} Detail...</h3>
<div>
    <a ng-click="expandAll()">Expand</a> / <a ng-click="collapseAll()">Collapse</a> All
</div>
    <ul kendo-panel-bar="panelbar" k-options="options.PanelBar" style="width: 640px;">
        <li class="k-state-active">
            <span class="k-link k-state-selected">Proposed Job Class, Title, Objectives</span>
            <div class="panel-content">
                <table class="formfield">
                    <tr>
                        <th>Position Type:</th>
                        <td><select kendo-drop-down-list k-options="options.PositionType" ng-model="vm.Description.PositionType" />
                        </td>
                    </tr>
                    <tr>
                        <th>Proposed Class/Band:</th>
                        <td><select kendo-drop-down-list k-options="options.JobClass" ng-model="vm.Description.ProposedJobId" style="width: 100%;" /></td>
                    </tr>
                    <tr>
                        <th>Working Title:</th>
                        <td><input type="text" style="width: 240px;" class="pdf-input" ng-model="vm.Description.WorkingTitle" /></td>
                    </tr>
                    <tr>
                        <th>Objectives:</th>
                        <td><textarea rows="6" cols="50" class="pdf-input" ng-model="vm.Description.PositionObjective"></textarea></td>
                    </tr>
                </table>
            </div>
        </li>
        <li>
            <span>Duties</span>
            <div>
                <table style="width: 100%;" style="margin-left: 16px;">
                <tr>
                    <td>
                        <span class="action-link"><a ng-click="expandDuties()">expand</a> / <a ng-click="collapseDuties()">collapse</a> all</span>
                    </td>
                    <td>
                    </td>
                    <td style="text-align: right;">
                        Time Allocation: <span ng-class="{ 'error-text': dutyPctSum() != 100 }">{{ dutyPctSum() }}</span>%
                    </td>
                </tr>
                </table>
                <ul id="DutiesPanelBar" style="margin-left: 16px;" kendo-panel-bar="dutiesPanelBar" k-options="options.DutyPanelBar">
                    <li ng-repeat="item in vm.Duties" id="{{ item.Id }}" class="k-item k-state-default" role="menuitem" aria-expanded="false" aria-hidden="true">
                        <span class="k-link k-header">
                            <table style="margin: 0px;">
                                <tr>
                                    <td style="width: 100px; white-space: nowrap;">
                                        <span>
                                            <a style="color: orange;" ng-click="deleteDuty($index, $event)">X</a>
                                        </span>
                                    </td>
                                    <td style="width: 100%;">
                                        <input ng-if="editingDutyId == item.Id" type='text' ng-click="$event.stopPropagation()" ng-keypress="dutyCheckKey($event)" ng-model="item.Duty" style="width: 80%;"/>
                                        <span ng-if="editingDutyId != item.Id">{{ item.Duty }}</span>
                                    </td>
                                    <td style="width: 24px; white-space: nowrap">
                                        <input ng-if="editingDutyId == item.Id" type="text" ng-click="$event.stopPropagation()" maxlength="2" size="2" style="width: 15px;" ng-keydown="pctkeydown($event);" ng-keypress="dutyCheckKey($event)" ng-model ="item.TimePercent" tabindex="2" />
                                        <span ng-if="editingDutyId != item.Id">{{ item.TimePercent }}</span>
                                        &#37;
                                    </td>
                                </tr>
                            </table>
                            <span class="k-icon k-i-arrow-s k-panelbar-expand"></span>
                        </span>
                        <div class="k-content" role="region" aria-hidden="true" style="display:none">
                            <textarea kendo-editor k-options="options.DutyEditor" ng-model="item.TasksHtml"></textarea>
                        </div>
                    </li>
                </ul>
                <span class="action-link"><a ng-click="createDuty()">[*add duty]</a></span>
                <div style="display: none;">
                    *mouse over Duties to preview Related Tasks, click to edit.
                </div>
            </div>
        </li>
        <li>
            Supervisory or Lead Worker Relationships
            <div class="panel-content" style="height: 200px;">
                blah blah blah
            </div>
        </li>
        <li>
            Qualifications
            <div class="panel-content" style="height: 200px;">
                blah blah blah
            </div>
        </li>
        <li>
            Working Conditions
            <div class="panel-content" style="height: 200px;">
                blah blah blah
            </div>
        </li>
        <li>
            Acknowledgement
            <div class="panel-content" style="height: 200px;">
                blah blah blah
            </div>
        </li>
    </ul>
    <div id="DutyTasksPreview" style="position: fixed; padding-left: 10px; padding-right: 10px; display:none; background-color:lightyellow; border: 1px solid black; width: auto; float: left;">
    </div>
<script>
    var pdfDetailVm = @Html.Raw(Json.Encode(Model)); // TODO: verify whether this works with null Model
</script>