﻿@using HrAdmin2.Helpers
@using System.Security.Principal;
@{
    // TODO: convert this to Profile?
    var ui = UserInfo.GetUserInfo((WindowsPrincipal)User);
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <!-- this line to force standards mode for intranet (moved to server config): -->
        <!--<meta http-equiv="x-ua-compatible" content="IE=edge" />-->
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/custom/css")
        @RenderSection("pagecss", required: false)
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                    <div class="float-left">
                        <p class="site-title">@Html.ActionLink("HR Apps", "Index", "PositionHierarchy")</p>
                        <nav>
                            <ul id="menu">
                                <li>@Html.ActionLink("Organization", "Index", "PositionHierarchy")</li>
@*                                <li>@Html.ActionLink("PAR List", "Index", "Par", new { WorkflowStatusId=1, FromDate=DateTime.Now.AddMonths(-3) }, null)</li>*@
                                <li>@Html.ActionLink("PAR List", "Index", "Par", new { WorkflowStatusId=1 }, null)</li>
                                 <li>@Html.ActionLink("Checklist", "Index", "Checklist")</li>
@*                                <li>@Html.ActionLink("Organization", "Index", "OrgUnit")</li>*@
                                @if (ui["RoleName"].ToString() == "Admin" || ui["RoleName"].ToString() == "HR") {
                                <li>@Html.ActionLink("Delegate", "Index", "Delegation")</li>
                                <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                                }
                                @if (ui["RoleName"].ToString() == "Admin" || ui["RoleName"].ToString() == "HR" || ui["RoleName"].ToString() == "Supervisor")
                                {
                                <li>@Html.ActionLink("My Approvals", "Index", "Approval")</li>    
                                }
                                <li>@Html.ActionLink("Search", "Index", "Search2")</li>
                            </ul>
                        </nav>
                    </div>
                    <div class="float-right">
                        <section id="login">
                           @*Hello, <span class="username">@User.Identity.Name.Substring(User.Identity.Name.IndexOf('\\')+1)</span>!*@
                            Hello,
                            @if (ui["LanId"].ToString() != ui["RealLanId"].ToString()) {
                               <span class="username">@(ui["RoleName"].ToString() == "Non-Supervisor" ? "" : ui["RoleName"]) <a href="@Url.Content("~" + "/Impersonation")">@ui["FirstName"]</a></span>
                            }
                            else {
                               <span class="username"> @(ui["RoleName"].ToString() == "Non-Supervisor" ? "" : ui["RoleName"]) @ui["FirstName"]</span>
                            } !
                        </section>
                    </div>
                </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
@*        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>*@
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/knockout")
        <script>
            var appRoot = '@Url.Content("~")';
        </script>
        @RenderSection("scripts", required: false)
    </body>
</html>