﻿@model HrAdmin2.Models.ViewModels.ParDetailVm
@{
    Layout = null;
    var p = Model.Par;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CTS Personnel Action Request</title>
    <style  type="text/css">
        body {
            background-color: #fff;
            color: #000;
            font-size: .85em;
            font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
            /*margin: 0;*/
            padding: 0;
        }

        /* Outlook ignores this too.  using deprecated <div align="center"> instead.
        table {
            margin-left: auto;
            margin-right: auto;
        }
        */
        table {
            text-align: left;
            width: 600px;
        }
        /*tr.heading {
            background-color: #DDDDDD;
        }
            (Outlook doesn't support CSS background-color for tables...use bgcolor instead.)
            */

        th {
            text-align: right;
        }

        td.heading {
            background-color: #DDD;
        }

        td.data {
            border: 1px solid black;
        }

        td.data-changed {
            border: 1px solid black;
            background-color: yellow;
        }

    </style>
</head>
<body>
    <p>Dear DES,</p>
    <p>
        This is to request implementation of an HRMS Personnel/Position Action.
    </p>
    <p>Thank you.</p>
    <hr />
    <div align="center">
    <table>
        <tr bgcolor="#DDDDDD">
            <td colspan="2" class="heading">
                CTS Personnel/Position Action Request # @p.Id
            </td>
        </tr>
        <tr>
            <th>Action Type (Code-Reason):</th>
            @if (p.IsPayChangeOnly)
            {
                <td class="data-changed">Pay Change Only</td>
            }
            else if (p.ActionCode.StartsWith("P")) {
                <td class="data-changed">@p.ActionDescription</td>
            }
            else {
                <td class="data-changed">@p.ActionDescription-@p.ActionType (@p.ActionCode-@p.ActionReasonCode)</td>
            }
        </tr>
        <tr>
            <th>Effective Date:</th>
            <td class="data-changed">@(p.EffectiveDate.HasValue ? p.EffectiveDate.Value.ToString("MMM-dd-yyyy") : "")</td>
        </tr>
        <tr>
            <th>Notes:</th>
            <td class="data@(p.Notes.Length > 0 ? "-changed" : "")">@p.Notes</td>
        </tr>
        <tr bgcolor="#DDDDDD">
            <td colspan="2" class="heading">Appointment Information</td>
        </tr>
        <tr>
            <th>Fill Level:</th>
            <td class="data@((p.IsTransferIn || p.FillLevelChanged.Value) ? "-changed" : "")">@(p.FillLevel > 0 ? String.Format("{0} ({1})", p.FillTitle, p.FillLevel) : "")</td>
        </tr>
        <tr>
            <th>Contract Type:</th>
            <td class="data@((p.IsTransferIn || p.ContractTypeCodeChanged.Value) ? "-changed" : "")">@p.ContractType</td>
        </tr>
        <tr>
            <th>Contract Ending:</th>
            <td class="data@((p.IsTransferIn || p.ContractEndDateChanged.Value) ? "-changed" : "")">@(p.ContractEndDate.HasValue ? p.ContractEndDate.Value.ToString("MMM-dd-yyyy") : "")</td>
        </tr>
        <tr>
            <th>Work Schedule:</th>
            <td class="data@((p.IsTransferIn || p.WorkScheduleCodeChanged.Value) ? "-changed" : "")">@(String.IsNullOrEmpty(p.WorkScheduleCode) ? "" :
                String.Format("{0} ({1})", p.WorkScheduleCode, p.WorkScheduleDescription))</td>
        </tr>
        <tr>
            <th>Percent Fulltime:</th>
            <td class="data@((p.IsTransferIn || p.PercentFullTimeChanged.Value) ? "-changed" : "")">@(p.PercentFullTime > 0 ? p.PercentFullTime.ToString() : "")</td>
        </tr>
        <tr>
            <th>Time Mgt. Status:</th>
            <td class="data@((p.IsTransferIn || p.ApptTimeMgtStatusChanged.Value) ? "-changed" : "")">@p.ApptTimeMgtStatus</td>
        </tr>

                <tr bgcolor="#DDDDDD">
            <td colspan="2" class="heading">Basic Pay Information</td>
        </tr>
        <tr>
            <th>Effective Date:</th>
            <td class="data@((p.IsTransferIn || p.ApptPayScaleEffectiveDateChanged.Value) ? "-changed" : "")">@(p.ApptPayScaleEffectiveDate.HasValue ? p.ApptPayScaleEffectiveDate.Value.ToString("MMM-dd-yyyy") : "")</td>
        </tr>
        <tr>
            <th>Change Reason:</th>
            <td class="data@((p.IsTransferIn || p.ApptPayScaleReasonChanged.Value) ? "-changed" : "")">@(p.ApptPayScaleReason == null ? "" :
                String.Format("{0} ({1})", p.ApptPayScaleReasonDesc, p.ApptPayScaleReason))</td>
        </tr>
        <tr>
            <th>Pay scale type - area:</th>
            <td class="data@((p.IsTransferIn || p.ApptPayScaleTypeAreaChanged.Value) ? "-changed" : "")">@p.ApptPayScaleTypeAreaDesc</td>
        </tr>
        <tr>
            <th>Pay scale group:</th>
            <td class="data@((p.IsTransferIn || p.ApptPayScaleGroupChanged.Value) ? "-changed" : "")">@p.ApptPayScaleGroup</td>
        </tr>
        <tr>
            <th>Pay scale level:</th>
            <td class="data@((p.IsTransferIn || p.ApptPayScaleLevelChanged.Value) ? "-changed" : "")">@p.ApptPayScaleLevel</td>
        </tr>
        <tr>
            <th>Next Increase:</th>
            <td class="data@((p.IsTransferIn || p.ApptPayNextIncreaseChanged.Value) ? "-changed" : "")">@(p.ApptPayNextIncrease.HasValue ? p.ApptPayNextIncrease.Value.ToString("MMM-dd-yyyy") : "")</td>
        </tr>
        <tr>
            <th>Annual Salary:</th>
            <td class="data@((p.IsTransferIn || p.ApptPayAnnualSalaryChanged.Value) ? "-changed" : "")">@(p.ApptPayAnnualSalary > 0 ? p.ApptPayAnnualSalary.ToString() : "")</td>
        </tr>
        <tr>
            <th>Hourly Rate:</th>
            <td class="data@((p.IsTransferIn || p.ApptPayHourlyRateChanged.Value) ? "-changed" : "")">@p.ApptPayHourlyRate</td>
        </tr>
        <tr>
            <th>Shift Differential?:</th>
            <td class="data@((p.IsTransferIn || p.ApptShiftDifferentialChanged.Value) ? "-changed" : "")">@(p.ApptShiftDifferential ? "Yes": "No")</td>
        </tr>

        <tr bgcolor="#DDDDDD">
            <td colspan="2" class="heading">Employee Information</td>
        </tr>
        <tr>
            <th>Personnel Number:</th>
            <td class="data">@(p.EmpHrmsId == 0 ? "n/a" : p.EmpHrmsId.ToString())</td>
        </tr>
        <tr>
            <th>First Name:</th>
            <td class="data@(p.EmpFirstNameChanged.Value ? "-changed" : "")">@p.EmpFirstName</td>
        </tr>
        <tr>
            <th>Preferred Name:</th>
            <td class="data@(p.EmpPreferredNameChanged.Value ? "-changed" : "")">@p.EmpPreferredName</td>
        </tr>
        <tr>
            <th>Last Name:</th>
            <td class="data@(p.EmpLastNameChanged.Value ? "-changed" : "")">@p.EmpLastName</td>
        </tr>
        <tr>
            <th>Middle Name/Init:</th>
            <td class="data@(p.EmpMiddleNameChanged.Value ? "-changed" : "")">@p.EmpMiddleName</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td class="data@(!String.IsNullOrEmpty(p.EmpEmail) ? "-changed" : "")">@p.EmpEmail</td>
        </tr>
        <tr>
            <th>Suffix:</th>
            <td class="data@(p.EmpSuffixChanged.Value ? "-changed" : "")">@p.EmpSuffix</td>
        </tr>
        <tr>
            <th>Date of Birth:</th>
            <td class="data@(p.EmpDOB.HasValue ? "-changed" : "")">@(p.EmpDOB.HasValue ? p.EmpDOB.Value.ToString("MMM-dd-yyyy") : "")</td>
        </tr>
        <!-- TODO: show PersonnelNum instead of SSN if exists -->
        <tr>
            <th>SSN:</th>
@*            <td class="data">@(String.IsNullOrEmpty(p.EmpSSN) ? "***-**-****" : p.EmpSSN)</td>*@
            <td class="data@(!String.IsNullOrEmpty(p.EmpSSN) ? "-changed" : "")">@p.EmpSSN</td>
        </tr>
        <tr>
            <th>Address Line 1:</th>
            <td class="data@(!String.IsNullOrEmpty(p.EmpAddrStreetLine1) ? "-changed" : "")">@p.EmpAddrStreetLine1</td>
        </tr>
        <tr>
            <th>Address Line 2:</th>
            <td class="data@(!String.IsNullOrEmpty(p.EmpAddrStreetLine2) ? "-changed" : "")">@p.EmpAddrStreetLine2</td>
        </tr>
        <tr>
            <th>City:</th>
            <td class="data@(!String.IsNullOrEmpty(p.EmpAddrCity) ? "-changed" : "")">@p.EmpAddrCity</td>
        </tr>
        <tr>
            <th>County:</th>
            <td class="data@(!String.IsNullOrEmpty(p.EmpAddrCountyCode) ? "-changed" : "")">@(p.EmpAddrCountyCode == null ? "" :
                String.Format("{0} ({1})", p.EmpAddrCountyName, p.EmpAddrCountyCode))</td>
        </tr>
        <tr>
            <th>State:</th>
            <td class="data@(!String.IsNullOrEmpty(p.EmpAddrState) ? "-changed" : "")">@p.EmpAddrState</td>
        </tr>
        <tr>
            <th>Zip Code:</th>
            <td class="data@(!String.IsNullOrEmpty(p.EmpAddrZipCode) ? "-changed" : "")">@p.EmpAddrZipCode</td>
        </tr>
        <tr>
            <th>Home Phone:</th>
            <td class="data@(!String.IsNullOrEmpty(p.EmpAddrHomePhone) ? "-changed" : "")">@p.EmpAddrHomePhone</td>
        </tr>
        <tr bgcolor="#DDDDDD">
            <td colspan="2" class="heading">Diversity Information</td>
        </tr>
        <tr>
            <th>Gender:</th>
            <td class="data@(!String.IsNullOrEmpty(p.EmpGender) ? "-changed" : "")">@(p.EmpGender == "1" ? "Male" : p.EmpGender =="2" ? "Female" : "")</td>
        </tr>
        <tr>
            <th>Race:</th>
            <td class="data@(!String.IsNullOrEmpty(p.EmpRaceCodes) ? "-changed" : "")">@p.EmpRaceCodes</td>
        </tr>
        <tr>
            <th>Hispanic?:</th>
            <td class="data@((p.ActionType == "U0" && p.EmpHispanic.HasValue) ? "-changed" : "")">@((p.EmpHispanic.HasValue && p.EmpHispanic.Value) ? "Yes" : "No")</td>
        </tr>
        <tr>
            <th>Military Status:</th>
            <td class="data@(!String.IsNullOrEmpty(p.EmpMilitaryStatus) ? "-changed" : "")">@p.EmpMilitaryStatus</td>
        </tr>
        <tr>
            <th>Military Branch:</th>
            <td class="data@(!String.IsNullOrEmpty(p.EmpMilitaryBranch) ? "-changed" : "")">@p.EmpMilitaryBranch</td>
        </tr>
        <tr>
            <th>Disability?:</th>
            <td class="data@((p.ActionType == "U0" && p.EmpDisability.HasValue) ? "-changed" : "")">@((p.EmpDisability.HasValue && p.EmpDisability.Value) ? "Yes" : "No")</td>
        </tr>

        <tr bgcolor="#DDDDDD">
            <td colspan="2" class="heading">Employee Date Specifications</td>
        </tr>
        <tr>
            <th>Anniversary:</th>
            <td class="data@(p.EmpDS01_AnniversaryChanged.Value ? "-changed" : "")">@(p.EmpDS01_Anniversary.HasValue ? p.EmpDS01_Anniversary.Value.ToString("MMM-dd-yyyy") : "")</td>
        </tr>
        <tr>
            <th>Appointment:</th>
            <td class="data@(p.EmpDS02_AppointmentChanged.Value ? "-changed" : "")">@(p.EmpDS02_Appointment.HasValue ? p.EmpDS02_Appointment.Value.ToString("MMM-dd-yyyy") : "")</td>
        </tr>
        <tr>
            <th>CTS Hire:</th>
            <td class="data@(p.EmpDS03_CtsHireChanged.Value ? "-changed" : "")">@(p.EmpDS03_CtsHire.HasValue ? p.EmpDS03_CtsHire.Value.ToString("MMM-dd-yyyy") : "")</td>
        </tr>
        <tr>
            <th>Prior PID:</th>
            <td class="data@(p.EmpDS04_PriorPidChanged.Value ? "-changed" : "")">@(p.EmpDS04_PriorPid.HasValue ? p.EmpDS04_PriorPid.Value.ToString("MMM-dd-yyyy") : "")</td>
        </tr>
        <tr>
            <th>Seniority:</th>
            <td class="data@(p.EmpDS05_SeniorityChanged.Value ? "-changed" : "")">@(p.EmpDS05_Seniority.HasValue ? p.EmpDS05_Seniority.Value.ToString("MMM-dd-yyyy") : "")</td>
        </tr>
        <tr>
            <th>Unbroken Service:</th>
            <td class="data@(p.EmpDS07_UnbrokenServiceChanged.Value ? "-changed" : "")">@(p.EmpDS07_UnbrokenService.HasValue ? p.EmpDS07_UnbrokenService.Value.ToString("MMM-dd-yyyy") : "")</td>
        </tr>
        <tr>
            <th>Vacation Leave Frozen:</th>
            <td class="data@(p.EmpDS09_VacLeaveFrozenChanged.Value ? "-changed" : "")">@(p.EmpDS09_VacLeaveFrozen.HasValue ? p.EmpDS09_VacLeaveFrozen.Value.ToString("MMM-dd-yyyy") : "")</td>
        </tr>
        <tr>
            <th>Personal Holiday Eligibility:</th>
            <td class="data@(p.EmpDS18_PersonalHolidayElgChanged.Value ? "-changed" : "")">@(p.EmpDS18_PersonalHolidayElg.HasValue ? p.EmpDS18_PersonalHolidayElg.Value.ToString("MMM-dd-yyyy") : "")</td>
        </tr>
        <tr>
            <th>Personal Leave Eligibility:</th>
            <td class="data@(p.EmpDS26_PersonalLeaveElgChanged.Value ? "-changed" : "")">@(p.EmpDS26_PersonalLeaveElg.HasValue ? p.EmpDS26_PersonalLeaveElg.Value.ToString("MMM-dd-yyyy") : "")</td>
        </tr>
        <tr bgcolor="#DDDDDD">
            <td colspan="2" class="heading">Position Information</td>
        </tr>
        <tr>
            <th>HRMS Number:</th>
            <td class="data">@(p.PosHrmsId == 0 ? "" : p.PosHrmsId.ToString())</td>
        </tr>
        <tr>
            <th>CTS Number:</th>
            <td class="data@(p.ActionCode == "P0" ? "-changed" : "")">@p.PositionId</td>
        </tr>
        <tr>
            <th>Job Class:</th>
            <td class="data@((p.ActionCode == "P0" || p.PosJobIdChanged.Value) ? "-changed" : "")">@p.PositionClassCode - @p.PositionJobTitle (@p.PosJobId)</td>
        </tr>
        <tr>
            <th>Working Title:</th>
            <td class="data@((p.ActionCode == "P0" || p.PosWorkingTitleChanged.Value) ? "-changed" : "")">@p.PosWorkingTitle</td>
        </tr>
        <tr>
            <th>Cost Center:</th>
            <td class="data@((p.ActionCode == "P0" || p.PosCostCenterChanged.Value) ? "-changed" : "")">@p.PosCostCenter</td>
        </tr>
        <tr>
            <th>Workers' Comp Code:</th>
            <td class="data@((p.ActionCode == "P0" || p.PosWorkersCompCodeChanged.Value) ? "-changed" : "")">@p.WorkersCompDescription</td>
        </tr>
        <tr>
            <th>Organizational Unit:</th>
            <td class="data@((p.ActionCode == "P0" || p.PosOrgUnitIdChanged.Value) ? "-changed" : "")">@p.OrgUnitShortName (@p.PosHrmsOrgUnitId)</td>
        </tr>
        <tr>
            <th>Supervisor Position:</th>
            <td class="data@((p.ActionCode == "P0" || p.PosSupervisorPosIdChanged.Value) ? "-changed" : "")">@p.PosHrmsSupervisorId (CTS# @p.PosSupervisorPosId)</td>
        </tr>
        <tr>
            <th>Personnel Area:</th>
            <td class="data@(p.ActionCode == "P0" ? "-changed" : "")">@p.AgencyDescription (@p.TargetAgencyCode)</td>
            @*<td class="data">CTS (1630)</td>*@
        </tr>
        <tr>
            <th>Personnel Subarea:</th>
            <td class="data@((p.ActionCode == "P0" || p.PosPersonnelSubAreaChanged.Value) ? "-changed" : "")">@p.PosPersonnelSubArea</td>
        </tr>
        <tr>
            <th>EE Group:</th>
            <td class="data@((p.ActionCode == "P0" || p.PosEeGroupChanged.Value) ? "-changed" : "")">@p.PosEeGroup</td>
        </tr>
        <tr>
            <th>EE Subgroup:</th>
            <td class="data@((p.ActionCode == "P0" || p.PosEeSubgroupChanged.Value) ? "-changed" : "")">@p.PosEeSubgroup</td>
        </tr>
        <tr>
            <th>Pay Grade Type-Area:</th>
            <td class="data@((p.ActionCode == "P0" || p.PosPayGradeTypeAreaChanged.Value) ? "-changed" : "")">@p.PosPayGradeTypeAreaDesc</td>
        </tr>
@*        <tr>
            <th>Pay Grade Type:</th>
            <td class="data">@p.PosPayGradeTypeDesc (@p.PosPayGradeType)</td>
        </tr>
        <tr>
            <th>Pay Grade Area:</th>
            <td class="data">@p.PosPayGradeAreaDesc (@p.PosPayGradeArea)</td>
        </tr>*@
        <tr>
            <th>Pay Grade:</th>
            <td class="data@((p.ActionCode == "P0" || p.PosPayGradeChanged.Value) ? "-changed" : "")">@p.PosPayGrade</td>
        </tr>
        <tr>
            <th>In Training?:</th>
            <td class="data@((p.ActionCode == "P0" || p.PosIsInTrainingChanged.Value) ? "-changed" : "")">@(p.PosIsInTraining ? "Yes" : "No")</td>
        </tr>
        <tr>
            <th>General Description:</th>
            <td class="data@((p.ActionCode == "P0" || p.PosGeneralDescriptionChanged.Value) ? "-changed" : "")">@p.PosGeneralDescription</td>
        </tr>
        <tr>
            <th>Shift:</th>
            <td class="data@((p.ActionCode == "P0" || p.PosShiftCodeChanged.Value) ? "-changed" : "")">@(p.PosShiftCode == "D" ? "Day" : (p.PosShiftCode == "S" ? "Swing" : "Graveyard"))</td>
        </tr>
        <tr>
            <th>Requires Background Check?:</th>
            <td class="data@((p.ActionCode == "P0" || p.PosReqsBackgroundCheckChanged.Value) ? "-changed" : "")">@(p.PosReqsBackgroundCheck ? "Yes" : "No")</td>
        </tr>
        <tr>
            <th>Is Appointing Authority?:</th>
            <td class="data@((p.ActionCode == "P0" || p.PosIsAppointingAuthorityChanged.Value) ? "-changed" : "")">@(p.PosIsAppointingAuthority ? "Yes" : "No")</td>
        </tr>
        <tr>
            <th>Is Manager?:</th>
            <td class="data@((p.ActionCode == "P0" || p.PosIsManagerChanged.Value) ? "-changed" : "")">@(p.PosIsManager ? "Yes" : "No")</td>
        </tr>
        <tr>
            <th>Is Supervisor?:</th>
            <td class="data@((p.ActionCode == "P0" || p.PosIsSupervisorChanged.Value) ? "-changed" : "")">@(p.PosIsSupervisor ? "Yes" : "No")</td>
        </tr>
        <tr>
            <th>JVAC:</th>
            <td class="data@((p.ActionCode == "P0" || p.PosJvacChanged.Value) ? "-changed" : "")">@p.PosJvac</td>
        </tr>
        <tr>
            <th>Point Value:</th>
            <td class="data@((p.ActionCode == "P0" || p.PosPointValueChanged.Value) ? "-changed" : "")">@p.PosPointValue</td>
        </tr>
        <tr>
            <th>Section 4?:</th>
            <td class="data@((p.ActionCode == "P0" || p.PosIsSection4Changed.Value) ? "-changed" : "")">@(p.PosIsSection4 ? "Yes" : "No")</td>
        </tr>
        <tr>
            <th>Tandem?:</th>
            <td class="data@((p.ActionCode == "P0" || p.PosIsTandemChanged.Value) ? "-changed" : "")">@(p.PosIsTandem ? "Yes" : "No")</td>
        </tr>
        <tr>
            <th>Location:</th>
            <td class="data@((p.ActionCode == "P0" || p.PosLocationIdChanged.Value) ? "-changed" : "")">@p.PosLocation</td>
        </tr>
        <tr>
            <th>Default Schedule:</th>
            <td class="data@((p.ActionCode == "P0" || p.PosWorkScheduleCodeChanged.Value) ? "-changed" : "")">@p.PosWorkScheduleCode (@p.PosWorkScheduleDescription)</td>
        </tr>
    </table>
    </div>
@*    <div>
        PAR # @Model.Par.Id: @DateTime.Now.ToString("yyyy-MM-dd")
    </div>*@
</body>
</html>
