﻿@*@model IEnumerable<HrAdmin2.Models.Par>*@
@model HrAdmin2.Controllers.ParController.ParListVm
@{
    ViewBag.Title = "PAR List";
}

<form id="SearchForm" method="get">
    <table class="searchForm">
        <tr>
            <th>Action Type</th>
            <th>Approval Status</th>
            <th>Created Between</th>
            <th>And</th>
        </tr>
        <tr>
            <td>@Html.DropDownList("ActionCode", Model.ActionTypes,
                new Dictionary<string, object> { {"data-bind", "value: ActionCode" } })
            </td>
            <td>
                @Html.DropDownList("WorkflowStatusId", Model.ApprovalStatuses,
                new Dictionary<string, object> { {"data-bind", "value: WorkflowStatusId" } })
            </td>
            <td>
                <input type="text" style="width: 70px;" name="FromDate" id="FromDate" data-bind="value: formatJsonDate(FromDate())"/>
            </td>
            <td>
                <input type="text" style="width: 70px;" name="ToDate" id="ToDate" data-bind="value: formatJsonDate(ToDate())"/>
@*                (default: -3 months)*@
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" style="width: 130px;" name="Query" id="Query" data-bind="value: Query"></input>
            </td>
            <td><input type="submit" value="search" />
            </td>
            <td colspan="2">search by Par Id, Position Id or Employee Name (last or first)</td>
        </tr>
    </table>
@*    Org Unit: 
    @Html.DropDownList("OrgUnitId", Model.OrgUnit,
    new Dictionary<string, object> { {"data-bind", "value: OrgUnitId" } })*@
@*    @Html.DropDownList("ParStatusId", Model.ParStatus,
    new Dictionary<string, object> { {"data-bind", "value: ParStatusId" } })*@
@*    <select id="ActionTypeFilter" name="ActionCode">
        <option value=""> - all Action Types -</option>
        <option value="P2">Abolish Position</option>
        <option value="U3">Appointment Change</option>
    </select>*@
</form>

<table id="ParList" class="parlist" data-bind="visible: $data.length" style="margin-left: 10px;">
    <tr>
        <th>
            <a href="javascript: false;" data-bind="click: function() { sortBy('Id'); }">Id</a>
        </th>
        <th>
            <a href="javascript: false;" data-bind="click: function() { sortBy('EffectiveDate'); }">Effective</a>
        </th>
        <th>
            <a href="javascript: false;" data-bind="click: function() { sortBy('Originator'); }">Originator</a>
        </th>
        <th>
            <a href="javascript: false;" data-bind="click: function() { sortBy('ActionDescription'); }">Action Type</a>
        </th>
        <th>
            <a href="javascript: false;" data-bind="click: function() { sortBy('ActionType'); }">Reason/Contract</a>
        </th>
        <th>
            <a href="javascript: false;" data-bind="click: function() { sortBy('PositionId'); }">Position</a>
        </th>
        <th>
            <a href="javascript: false;" data-bind="click: function() { sortBy('EmpLastFirst'); }">Employee</a>
        </th>
        <th>
            <a href="javascript: false;" data-bind="click: function() { sortBy('OrgUnitShortName'); }">OrgUnit</a>
        </th>
@*        <th>
            <a href="javascript: false;" data-bind="click: function() { sortBy('Originator'); }">Originator</a>
        </th>
*@
        <th>
            <a href="javascript: false;" data-bind="click: function() { sortBy('ApprovalStatusDesc'); }">Stage</a>
        </th>
    </tr>
    <tbody data-bind="foreach: $data">
        <tr style="vertical-align:top;">
            <td>
                <span style="font-weight: bold;" data-bind="text: Id"></span>
            </td>
            <td><span data-bind="text: formatJsonDate(EffectiveDate())"></span></td>
            @*<td><span data-bind="text: formatJsonDate(CreateDate())"></span></td>*@
            <td><span data-bind="text: Originator"></span></td>
            <td style="white-space: nowrap;">
                <a data-bind="attr: { href: '@Url.Content("~")' + 'par/' + Id() }">
                    <span style="color: blue;" data-bind="text: ActionDescription"></span>
                </a>
            </td>
            <td>
                <span data-bind="text: ActionType"></span>
            </td>
            <td>
@*                <a data-bind="attr: { href: appRoot + (ActionCode() == 'P0' ? 'par/' + Id() : 'position/' + PositionId()) }">
                    <span style="text-align: right;" data-bind="text: PositionId"></span>
                </a>*@
                    <span style="text-align: right;" data-bind="text: PositionId"></span>
            </td>
            <td style="white-space: nowrap;">
@*                <a data-bind="attr: { href: appRoot + (ActionCode() == 'U0' || ActionCode() == 'U6' ? 'par/' + Id() : 'employee/' + EmployeeId()) }">
                </a>*@
                    <span data-bind="text: EmpLastFirst"></span>
            </td>
            <td style="white-space: nowrap;">
@*                <a data-bind="attr: { href: appRoot + 'orgunit/' + PosOrgUnitId() }">
                    <span data-bind="text: OrgUnitShortName"></span>
                </a>*@
                    <span data-bind="text: OrgUnitShortName"></span>
            </td>
@*<td><span data-bind="text: Originator"></span></td>*@
            <td><span data-bind="text: ApprovalStatusDesc() + (ParStatusDesc() == 'Processed' ? ', Processed' : '')"></span></td>
        </tr>
    </tbody>
@*    @foreach (var p in Model)
    {
    <tr>
        <td>@Html.DisplayFor(modelItem => p.Id)</td>
        <td>@Html.DisplayFor(modelItem => p.ActionDescription)</td>
        <td>@Html.DisplayFor(modelItem => p.PositionId)</td>
        <td>@Html.DisplayFor(modelItem => p.OrgUnitShortName)</td>
    </tr>
    }*@
</table>
@section scripts {
<script>
    // TODO: move appRoot setter to Layout?
    var appRoot = '@Url.Content("~")';
    // TODO: make parlist sub-property of Model? (assuming other items will also need data binding)
//    ko.applyBindings(pars, $('#ParList')[0]);
    var vm = ko.mapping.fromJS(@Html.Raw(Json.Encode(Model)));
    ko.applyBindings(vm.Results, $('#ParList')[0]);
    ko.applyBindings(vm.Query, $('#SearchForm')[0]);
    var sortcol = '';
    $('#FromDate').datepicker({
        changeMonth: true,
        changeYear: true
        //, yearRange: '-40' // this breaks datepicker when binding to invalid date
    });
    $('#ToDate').datepicker({
        changeMonth: true,
        changeYear: true
        //, yearRange: '-40' // this breaks datepicker when binding to invalid date
    });

    // pre-set filter state:
    $('#ActionTypeFilter').val(vm.Query.ActionCode());

    // TODO: move this to util.js
    function formatJsonDate(d) {
        if (d == null) { // should normally not happen
            return ' ';
        }
        var fdate = new Date(parseInt(d.match(/\d+/)[0]));
        return (fdate.getMonth() + 1) + '/' + fdate.getDate() + '/' + fdate.getFullYear().toString().substr(2);
    }

    function sortBy(c) {
        // TODO: sort by multiple columns?
        // seems to work automatically, retains previous sort if new col is minimally selective.
        // if sort col has been previously set and matches requested col, reverse direction:
        var dir = (c == sortcol) ? -1 : 1;
        vm.Results.sort(function(left, right) {
            if (left[c]() == null && c.indexOf('Date') == -1)
            {
                left[c]('');
            }
            if (right[c]() == null && c.indexOf('Date') == -1)
            {
                right[c]('');
            }
            if (left[c]() == null && right[c]() == null) {
                return 0;
            }
            if (left[c]() != null && right[c]() == null) {
                return dir * -1;
            }
            if (left[c]() == null && right[c]() != null) {
                return dir * 1;
            }
            //else {
                return dir * (left[c]() == right[c]() ? 0 : left[c]() < right[c]() ? -1 : 1);
            //}
        });
        // reset sort col if already reversed:
        sortcol = (dir == 1) ? c : '';
    }
</script>
}