﻿@model HrAdmin2.Controllers.ParController.ParListVm

@{
    ViewBag.Title = "PAR Search Results";
    Layout = "~/Views/Shared/_Layout_ng.cshtml";
}
@section headscript {
<script src="~/Scripts/app/ng-par.js"></script>
}
<div id="ng-app" ng-app="par" ng-controller="ParListController">
<h2>@ViewBag.Title</h2>
    <form id="SearchForm" method="get" action="~/Par">
        <table class="searchForm">
            <tr>
                <th>Action Type</th>
                <th>Approval Status</th>
                <th>Created Between</th>
                <th>And</th>
            </tr>
            <tr>
                <td>@Html.DropDownList("ActionCode", Model.ActionTypes,
                    new Dictionary<string, object> { {"ng-model", "vm.Query.ActionCode" } })
                </td>
                <td>
                    @Html.DropDownList("WorkflowStatusId", Model.ApprovalStatuses,
                    new Dictionary<string, object> { {"ng-model", "vm.Query.WorkflowStatusId" },
                        {"ng-init", "vm.Query.WorkflowStatusId = vm.Query.WorkflowStatusId || options[0]"}
                    })
                </td>
                <td>
                    <input type="text" kendo-date-picker name="FromDate" id="FromDate" ng-model="vm.Query.FromDate"/>
                </td>
                <td>
                    <input type="text" kendo-date-picker name="ToDate" id="ToDate" ng-model="vm.Query.ToDate""/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" style="width: 130px;" name="Query" id="Query" ng-model="vm.Query.Query"></input>
                </td>
                <td><input type="submit" value="search" />
                </td>
                <td colspan="2">search by Par Id, Position Id or Employee Name (last or first)</td>
            </tr>
        </table>
    </form>
    <hr />
    <table ng-if="vm.Results.length" class="partable">
    <tr>
        <th>
            <a ng-click="sortOn('Id')">Id</a>
        </th>
        <th>
            <a ng-click="sortOn('EffectiveDate')">Effective</a>
        </th>
        <th>
            <a ng-click="sortOn('Originator')">Originator</a>
        </th>
        <th>
            <a ng-click="sortOn('ActionDescription')">Action Type</a>
        </th>
        <th>
            <a ng-click="sortOn('ActionType')">Reason/Contract</a>
        </th>
        <th>
            <a ng-click="sortOn('PositionId')">Position</a>
        </th>
        <th>
            <a ng-click="sortOn('EmpLastFirst')">Employee</a>
        </th>
        <th>
            <a ng-click="sortOn('OrgUnitShortName')">OrgUnit</a>
        </th>
        <th>
            <a ng-click="sortOn('ApprovalStatusDesc')">Stage</a>
        </th>
    </tr>
    <tr ng-repeat="r in vm.Results | orderBy: (desc ? '-' : '') + sortField" ng-class="{'even': $index % 2, 'odd': !($index %2 )}" style="vertical-align:top;">
        <td>
            <span style="font-weight: bold;">{{ r.Id }}</span>
        </td>
        <td>{{ convertJsonDate(r.EffectiveDate) | date:'M/d/yyyy' }}</td>
        <td>{{ r.Originator }}</td>
        <td style="white-space: nowrap;">
            <a href = '@Url.Content("~")par/{{ r.Id }}'>{{ r.ActionDescription }}</a>
        </td>
        <td>{{ r.ActionType }}</td>
        <td>{{ r.PositionId }}</td>
        <td style="white-space: nowrap;">{{ r.EmpLastFirst }}</td>
        <td>{{ r.OrgUnitShortName }}</td>
        <td>{{ r.ApprovalStatusDesc + (r.ParStatusDesc == 'Processed' || r.ParStatusDesc == 'Pushed' ? ', Processed' : '') }}</td>
    </tr>
</table>
</div>

@section footscript {
<script>
    var vm = @Html.Raw(Json.Encode(Model)); // TODO: verify whether this works with null Model
</script>
}