﻿html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

a {
    color: blue;
    cursor: pointer;
}

body {
    background-color: #fff;
    border-top: solid 2px #000;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

/* copied from MVC template: */
/* TODO: probably should remove bare table styles completely */
table {
    border-collapse: collapse;
    border-spacing: 0;
    /*margin-top: 0.75em; <== this is adding unwanted space to Kendo Editor widget. */
    border: 0 none;
}

td {
    border: none;
    padding-left: 3px;
    padding-right: 3px;
}

/* custom: */
/* override Kendo UI styles: */
.k-panelbar .k-item .k-header.k-state-selected
{
    font-weight: bold;
    background-color: #036;
    /*color: #f3eed5;*/
    color: #fd8;
    box-shadow: none !important; /* remove red "inner-glow" highlight in Chrome... */
}
/* override white header when collapsed */
.k-panelbar .k-state-default .k-link.k-header.k-state-selected,
.k-panelbar .k-state-default .k-link.k-header.k-state-selected.k-state-focused,
.k-panelbar .k-link.k-header.k-state-selected.k-state-focused.k-state-hover
{
    color: #fd8; /* override black hover */
}

/* custom editor tools: */
.k-editor .k-save
{
    /*background-image: url('Default/sprite.png');*/
    background: 50% 50% no-repeat url('KendoUI/Default/sprite.png');
    background-position: -45px -28px;
    height: 22px;
    /*background: 50% 50% no-repeat url(http://digitaltools.node3000.com/wp-content/themes/digital-tools/images/rss-icon-16x16px.png);*/
}

.k-editor .k-editor-button:hover .k-save
{
    background-color: #ff6;
}
 END custom editor tools 

.admintable,
.partable {
    /*color: #333;*/
    /*padding: 2px;
    margin: 1px;*/
    background-color: #fff;
    border-collapse: collapse;
    border-spacing: 1px;
    border: 1px solid black !important;
}

.admintable a,
.partable a {
    /*color: #036;*/
    color: #048;
    text-decoration: none !important;
}

.admintable a:hover,
.partable th a:hover
{
    text-decoration: underline !important;
    /*background-color: #feb;*/
    /*border: 1px solid red;*/
    /*padding: 2px;*/
    /*margin: 1px;*/
}

.admintable tr.odd,
.partable tr.odd {
    background-color: #f3f3f3;
}

.admintable tr.even,
.partable tr.even
{
    background-color: #def;
}

.admintable td {
    /*padding: 2px 4px 2px 4px;*/
    padding: 0px 2px 0px 2px;
    text-align: right;
    /*padding-right: 8px !important;*/
}

.admintable th,
.admintable th a,
.partable th,
.partable th a
{
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    color: #feb;
    background-color: #036;
    padding: 2px 4px 2px 4px;
    border-collapse: collapse !important;
}

.admintable td,
.partable td {
    font-size: 13px;
}

.admintable td a,
.panel-content td a,
.partable td a {
    color: darkred;
    text-decoration: none;
}

.admintable td a:hover,
.partable td a:hover {
    text-decoration: underline;
}

.async-add td {
    background-color: #9d9 !important; /* soft green */
}

.async-delete td {
    background-color: #d66 !important; /* soft red */
}

.async-update td {
    background-color: #fe7 !important; /* soft yellow */
}

.async-update {
    background-color: #fe7 !important; /* soft yellow */
}

.editrow input {
    padding: 0 1px 0 1px;
    margin: 0 !important;
    width: 100%;
}

.editrow input[type=text] {
    border: 1px solid #c00;
}

.editrow input[type=checkbox] {
    border: none;
}

.error {
    color: #e80c4d;
}

.formfield th {
    text-align: right;
    vertical-align: top;
}

.listrow td {
    padding: 1px 3px 1px 3px;
    margin: 0px;
}

.listrow input[type=checkbox] {
    margin: 0px;
}

.center-align {
    text-align: center;
}

.right-align {
    text-align: right;
}

.selectedRow {
    background-color: #ffdd88 !important; /* see custom jquery-ui.css */
}

.vacant {
    color: #AAA;
}

.was-added {
    background-color: #9d9; /* soft green */
    -webkit-animation: fadeout .5s linear 0s normal none;
}

.inactive {
    color: #666;
    text-decoration: line-through;
}

.overdue {
    background-color: #e99;
    font-weight: bold;
}
.due-soon {
    background-color: #ff8;
}
.due-later {
    background-color: #6a6;
}

.duty-selected { /* for Pdf Detail... */
    background-color: #fc7;
    width: 3px !important;
}

.panel-content {
    padding: 0px 5px 10px 5px !important;
}

.panel-content th {
    border: none;
    text-align: right;
    vertical-align: top;
    /*white-space: nowrap;*/
    min-width: 150px;
    max-width: 150px;
    padding: 0 5px 0 5px;
}

.panel-content td {
    border: 1px solid black;
    width: 100%;
    background-color: #e8e8e8;
    vertical-align: top;
}

.panel-content-leave {
    padding: 0px 5px 10px 5px !important;
}

.panel-content-leave th {
    border: none;
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
    min-width: 100px;
    max-width: 100px;
    padding: 0 5px 0 5px;

}

.panel-content-leave td {
    border: 1px solid black;
    width: 100%;
    background-color: #e8e8e8;
    vertical-align: top;
}




.panel-content-check {
    padding: 0px 5px 10px 5px !important;
}

.panel-content-check th {
    border: none;
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
    /*min-width: 150px;
    max-width: 150px;*/
    padding: 0 5px 0 5px;
}

.panel-content-check td {
    border: 1px solid black;
    width: 100%;
    background-color: #e8e8e8;
    vertical-align: top;
}





header, footer, hgroup,
nav, section {
    display: block;
}

/* for alternating rows: */
/*.even td {
    background-color: #d8d8d8;
}*/

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#body {
    clear: both;
    padding-top: 0px; /* changed DRG */
    padding-bottom: 35px;
   
}

.main-content {
    padding-left: 10px;
    padding-top: 0px;
}

footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}


/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    /*font-size: 2.3em;*/
    font-size: 1.6em;
    margin: 0;
    
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    font-weight: normal;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
   
}

/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1em;
    background-color: #003366;
    font-weight: bold;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

ul#menu li {
    display: inline;
    list-style: none;
    padding-left: 15px;
}

ul#menu li a {
    background: none;
    color: #ddd;
    text-decoration: none;
}

ul#menu li a:hover {
    color: #ffdd88;
    text-decoration: underline;
}

[ng-cloak] { display: none; }

#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}