﻿@model HrAdmin2.Models.PositionListVm

@{
    ViewBag.Title = "CTS Position List";
//    Layout = null;  // remove this section for default Layout or set explicitly for alt layout.
    Layout = "~/Views/Shared/_Layout_ng.cshtml";  // remove this section for default Layout or set explicitly for alt layout.
}

@section headscript {
<script src="~/Scripts/app/ng-admin.js"></script>
<script>
    var rows = @Html.Raw(Json.Encode(Model.Positions)); // raw JSON for use as Angular Model.
</script>
}

<h3>Position Search Results</h3>

<div id="ng-app" ng-app="admin" ng-controller="PositionController">
<!-- TODO: consider column enumerator for resultset model -->
<table class="partable">
    <tr>
        <th><a ng-click="sort('Id')">CTS Pos#</a></th>
        <th><a ng-click="sort('OuName')">Org Unit</a></th>
        <th><a ng-click="sort('CostCenter')">Cost Center</a></th>
        <th><a ng-click="sort('ClassCode')">Job Class</a></th>
        <th><a ng-click="sort('WorkingTitle')">Working Title</a></th>
        <th><a ng-click="sort('LastName')">Incumbent</a></th>
        <th><a ng-click="sort('SupervisorPositionId')">Supervisor</a></th>
    </tr>
    <tr class="listrow" ng-repeat="p in positions" ng-class="{'even': $index % 2, 'odd': !($index %2 )}">
        <td class="right-align"><a href='@Url.Content("~")position/{{p.Id}}'>{{p.Id}}</a></td>
        <td>{{p.OuName}}</td>
        <td class="right-align">{{p.CostCenter}}</td>
        <td class="right-align">{{p.ClassCode}}</td>
        <td>{{p.WorkingTitle}}</td>
        <td>{{p.LastName + ', ' + p.FirstName}}</td>
        <td class="right-align"><a href='@Url.Content("~")position/{{p.SupervisorPositionId}}'>{{p.SupervisorPositionId}}</a></td>
    </tr>
</table>