﻿@model HrAdmin2.Models.ViewModels.ApprovalVm

@{
    ViewBag.Title = "Approval Position" + " Detail";
}
<div id="wrapper" style="max-width: 850px;">
    <div id="statusbar" style="float: right; background-color: yellow;">
            <span id="Spinner" style="display: none;"><img src="~/Scripts/jstree/themes/default/throbber.gif" /></span>
            <span id="StatusMessage"></span>
    </div>

    <div id="approval-mapping">
        <h3>Approvals to be completed by position #<span data-bind="text: ApproverPosition.Id"></span><span>: </span> <span data-bind="text: ApproverPosition.WorkingTitle"></span>
            <br />
            <span data-bind="text: ApproverEmployee.LastName"></span><span>, </span><span data-bind="text: ApproverEmployee.PreferredName"></span>
        </h3>

        <div id="approval-detail" style="max-width: 850px;">
            <h3 style="padding-left: 30px;">Delegation for position #<span data-bind="text: ApproverPosition.Id"></span> (<span data-bind="text: DelegateCount"></span>)</h3>
            <div id="Delegation-info">
                <div id="Delegation-Create">
                <hr />
                    <span>Create New Delegate</span>
                  <table class="itemDetail">
                        <tr>
                            <th>Delegate To</th>
                            <td>
                                @Html.DropDownList("EmpList", Model.CurrentEmp)
                            </td>
                        </tr>
                        <tr>
                            <th>Start Date</th>
                            <td><input type="text" class="date-input" id="StartDate" readonly /></td>
                        </tr>
                        <tr>
                            <th>End Date</th>
                            <td>
                                <input type="text" class="date-input" id="EndDate" readonly />
                                <input type="checkbox" id="IndefiniteCheck" value="Indefinite" onclick="noEndDate()"/> No End Date
                            </td>
                        </tr>
                      @* Commented out because currently only one app *@
                      <tr>
                            <th>Apps</th>
                            <td><input type="checkbox" value="1" id="PARcheckbox" checked/><span>PAR</span><br />
                            <input type="checkbox" value="2" id="PDFcheckbox" checked/><span>PDF</span><br />
                            <input type="checkbox" value="3" id="TimeSheetCheckbox" checked/><span>TimeSheet</span></td>
                        </tr>                              
                    </table>
                    <input type="button" value="Create" id="CreateDelegate" onclick="createDelegate()" />
                </div>
                <hr />
                <table class="itemDetail" style="margin-top: 0px; margin-bottom: 0px;">
                    <tr>
                        <th style="text-align: center;">Delegated To</th>
                        <th style="text-align: center;">Start Date</th>
                        <th style="text-align: center;">End Date</th>
                        <th style="text-align: center;">Apps</th>
                        <th style="text-align: center;"></th>
                    </tr>
                    <tbody id="DelegateList" data-bind="foreach: Delegates">
                        @*<tr data-bind="visible: Id()">*@
                        <tr>
                            <td>
                                <span data-bind="text: DelegatedToLastName"></span><span>, </span><span data-bind="text: DelegatedToPreferredName"></span>
                            </td>
                            <td>
                                <span data-bind="text: StartDateString"></span>
                            </td>
                            <td>
                                <span data-bind="text: EndDateString"></span>
                            </td>
                            <td>
                                <span data-bind="foreach: Delegate.Apps">
                                    <span data-bind="text: Name"></span><span>&nbsp;</span>
                                </span>
                            </td>
                            <td>
                                <input type="button" data-bind="click: function (item) { delegateDelete(item); }" value="Delete" />                            
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h3 style="padding-left: 30px;">PAR Active Approvals Assigned To Position #<span data-bind="text: ApproverPosition.Id"></span> (<span data-bind="text: ApprovalCount"></span>)</h3>
            <div>        
                <div id="ParApprovalList" data-bind="foreach: ParApprovals">
                    <hr />
                    <a data-bind="attr: { href: '@Url.Content("~")' + 'par/' + ParId() }"><span>PAR: </span><span data-bind="    text: ParId"></span></a>
                    <table class="itemDetail">
                        <tr>
                            <th>Action</th>
                            <td><span data-bind="text: ParActionCode"></span></td>
                        </tr>
                        <tr data-bind="if: ParActionReason">
                            <th>Reason</th>
                            <td><span data-bind="text: ParActionReason"></span></td>
                        </tr>
                        <tr>
                            <th>Position</th>
                            <td>
                                <span data-bind="text: ParPositionId"></span>
                                <span>:&nbsp;</span>
                                <span data-bind="text: ParPosWorkingTitle"></span>
                            </td>
                        </tr>
                        <tr data-bind="if: ParEmployeePreferredName">
                            <th>Employee</th>
                            <td><span data-bind="text: ParEmployeePreferredName"></span>
                                <span>&nbsp;</span>
                                <span data-bind="text: ParEmployeeLastName"></span>
                            </td>
                        </tr>
                        <tr data-bind="if: SupervisorName">
                            <th>Supervisor</th>
                            <td><span data-bind="text: SupervisorName"></span></td>
                        </tr>
                        <tr>
                            <th>Effective Date</th>
                            <td><span data-bind="text: EffectiveDateString"></span></td>
                        </tr>                                
                    </table>
                    <br />      
                    <span>Comment: </span><span data-bind="visible: (ApprovalTaskVm.Status() != 'Active'), text: ApprovalTaskVm.Task.Comment"></span>
                    <br />                
                    <textarea data-bind="visible: (ApprovalTaskVm.Status() == 'Active'), value: ApprovalTaskVm.Task.Comment" rows="3" style="margin: 0px; padding: 0px; max-width:400px"></textarea>
                    <br />
                    <span>
                        <span style="text-bold" data-bind="visible: (ApprovalTaskVm.Status() != 'Active'), text: ApprovalTaskVm.Status"></span>
                        <input type="button" data-bind="visible: (ApprovalTaskVm.Status() == 'Active'), click: function (item) { approvalTaskApprove(item.ApprovalTaskVm); }" value="Approve" />
                        <input type="button" data-bind="visible: (ApprovalTaskVm.Status() == 'Active'), click: function (item) { approvalTaskReject(item.ApprovalTaskVm); }" value="Reject" />
                    </span>
                    <br />        
                      
                    @*<td>
                        <span data-bind="text: ApproverPositionPersonLastName"></span><span>, </span><span data-bind="    text: ApproverPositionPersonPreferredName"></span>
                    </td>
                    <td>
                        <span data-bind="text: ApproverPositionIsAppointingAuth"></span>
                    </td>
                    <td>
                        <span data-bind="visible: (Status() != 'Active' || $root.ViewMode() == 'read'), text: Task.Comment"></span>                        
                        <textarea data-bind="visible: (Status() == 'Active' && $root.ViewMode() == 'edit'), value: Task.Comment" rows="2" style="margin: 0px; padding: 0px; max-width:200px"></textarea>
                    </td>
                    <td>
                        <span data-bind="text: Status"></span>
                    </td>
                    <td>
                        <span data-bind="visible: (Status() != 'Active' && Status() != 'Created' && Status() != 'Canceled'), text: CompletedDateString"></span>                         
                        <a data-bind="visible: ($root.ViewMode() == 'edit' && Status() == 'Active'), click: function (item) { approvalTaskApprove(item); }">Approve </a>
                        <a data-bind="visible: ($root.ViewMode() == 'edit' && Status() == 'Active'), click: function (item) { approvalTaskReject(item); }">Reject </a>
                    </td>*@
                </div>
            @*<input type="button" data-bind="visible: ($root.ViewMode() == 'edit' && $root.ApprovalWorkflowVm.Status() == 'Created'), click: function (item) { approvalWorkflowActive(ApprovalWorkflowVm.FirstTask); }" value="Start Workflow" />*@        
            </div>

            <h3 style="padding-left: 30px;">Upcoming Delegations for <span data-bind="text: ApproverEmployee.PreferredName"></span> <span data-bind="text: ApproverEmployee.LastName"></span> (<span data-bind="text: FutureAssignedDelegatesCount"></span>)</h3>
            <div id="AssignedDelegate-info">
                <table class="itemDetail" style="margin-top: 0px; margin-bottom: 0px;">
                    <tr>
                        <th style="text-align: center;">Delegate For</th>
                        <th style="text-align: center;">Start Date</th>
                        <th style="text-align: center;">End Date</th>
                        <th style="text-align: center;">Apps</th>
                        <th style="text-align: center;"></th>
                    </tr>
                    <tbody id="AssignedDelegateList" data-bind="foreach: FutureAssignedDelegates">
                        @*<tr data-bind="visible: Id()">*@
                        <tr>
                            <td>
                                <span data-bind="text: DelegatedPositionTitle"></span><span>: </span><span data-bind="text: DelegatedPositionPersonLastName"></span><span>, </span><span data-bind="text: DelegatedPositionPersonPreferredName"></span>
                            </td>
                            <td>
                                <span data-bind="text: StartDateString"></span>
                            </td>
                            <td>
                                <span data-bind="text: EndDateString"></span>
                            </td>
                            <td>
                                <span data-bind="foreach: Delegate.Apps">
                                    <span data-bind="text: Name"></span><span>&nbsp;</span>
                                </span>
                            </td>
                            <td>
                                <input type="button" data-bind="click: function (item) { delegateUpcomingDelete(item); }" value="Delete" />                            
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
 
        

            @*<h3 style="padding-left: 30px;">Active Delegate For <span data-bind="text: TestDelegate.DelegateVm.DelegatedPositionTitle"></span><span>: </span><span data-bind="    text: TestDelegate.DelegateVm.DelegatedPositionPersonLastName"></span><span>, </span><span data-bind="    text: TestDelegate.DelegateVm.DelegatedPositionPersonPreferredName"></span>  : <span data-bind="    text: TestDelegate.DelegatedApprovalsCount"></span></h3>*@
            <h3 style="padding-left: 30px;">Active Approvals Delegated to <span data-bind="text: ApproverEmployee.PreferredName"></span> <span data-bind="text: ApproverEmployee.LastName"></span> (<span data-bind="text: AssignedDelegatesCount"></span>)</h3>
            <div> 
                <div data-bind="foreach: AssignedDelegates">  
                    <h3>Delegate for <span data-bind="text: DelegateVm.DelegatedPositionTitle"></span>
                        <br />
                        <span data-bind="text: DelegateVm.DelegatedPositionPersonLastName"></span><span>, </span><span data-bind="text: DelegateVm.DelegatedPositionPersonPreferredName"></span>  : <span data-bind="text: DelegatedApprovalsCount"></span>
                    </h3>     
                    <div data-bind="foreach: DelegatedParApprovals">
                        <hr />
                        <a data-bind="attr: { href: '@Url.Content("~")' + 'par/' + ParId() }"><span>PAR: </span><span data-bind="text: ParId"></span></a>
                        <table class="itemDetail">
                            <tr>
                                <th>Action</th>
                                <td><span data-bind="text: ParActionCode"></span></td>
                            </tr>
                            <tr data-bind="if: ParActionReason">
                                <th>Reason</th>
                                <td><span data-bind="text: ParActionReason"></span></td>
                            </tr>
                            <tr>
                                <th>Position</th>
                                <td>
                                    <span data-bind="text: ParPositionId"></span>
                                    <span>:&nbsp;</span>
                                    <span data-bind="text: ParPosWorkingTitle"></span>
                                </td>
                            </tr>
                            <tr data-bind="if: ParEmployeePreferredName">
                                <th>Employee</th>
                                <td><span data-bind="text: ParEmployeePreferredName"></span>
                                    <span>&nbsp;</span>
                                    <span data-bind="text: ParEmployeeLastName"></span>
                                </td>
                            </tr>
                            <tr data-bind="if: SupervisorName">
                                <th>Supervisor</th>
                                <td><span data-bind="text: SupervisorName"></span></td>
                            </tr>
                            <tr>
                                <th>Effective Date</th>
                                <td><span data-bind="text: EffectiveDateString"></span></td>
                            </tr>                                
                        </table>
                        <br />      
                        <span>Comment: </span><span data-bind="visible: (ApprovalTaskVm.Status() != 'Active'), text: ApprovalTaskVm.Task.Comment"></span>
                        <br />                
                        <textarea data-bind="visible: (ApprovalTaskVm.Status() == 'Active'), value: ApprovalTaskVm.Task.Comment" rows="3" style="margin: 0px; padding: 0px; max-width:400px"></textarea>
                        <br />
                        <span>
                            <span style="text-bold" data-bind="visible: (ApprovalTaskVm.Status() != 'Active'), text: ApprovalTaskVm.Status"></span>
                            <input type="button" data-bind="visible: (ApprovalTaskVm.Status() == 'Active'), click: function (item) { approvalDelegatedTaskApprove(item.ApprovalTaskVm); }" value="Approve" />
                            <input type="button" data-bind="visible: (ApprovalTaskVm.Status() == 'Active'), click: function (item) { approvalDelegatedTaskReject(item.ApprovalTaskVm); }" value="Reject" />
                        </span>
                        <br />        
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

@section scripts {
    <script>
        var userLanId = '@User.Identity.Name.Substring(User.Identity.Name.IndexOf('\\') + 1)';

        var appRoot = '@Url.Content("~")';
        $('#StartDate').datepicker();
        $('#EndDate').datepicker();

        $('#ToggleAccordion').click(function (evt) {
            if ($('#par-detail').hasClass('ui-accordion')) { // is accordion
                $(evt.target).text('collapse');
                $('#par-detail').accordion('destroy');
            }
            else {
                $(evt.target).text('expand all');
                $('#par-detail').accordion({
                    active: 0, // expand panel 0 by default.
                    animated: 'slide',
                    collapsible: true,
                    heightStyle: 'content'
                });
            }
        }).text('expand all');


        var vm = ko.mapping.fromJS(@Html.Raw(Json.Encode(Model)));
        // initialze validation object:
   
        $(document).data('viewmodel', vm); // attach vm to document as quasi-global
        ko.applyBindings(vm, $('#approval-mapping')[0]);
        
        $('#approval-detail').accordion({
            active: 1, // expand approvals panel by default.
            animated: 'swing',
            collapsible: true,
            heightStyle: 'content'
        });

        function delegateDelete(item){
            if (confirm('Delete Delegate?')) {
                $('#StatusMessage').text('deleting Delegate');
                $('#statusbar').fadeTo(0, 1);
                $('#Spinner').show();
                $.ajax({
                    type: 'DELETE',
                    url: appRoot + 'api/ApprovalDelegate/' + item.Delegate.Id(),//item.Delegate.Id,
                    success: function (d) {
                        vm.Delegates.remove(item);
                        vm.DelegateCount(vm.Delegates().length);
                        $('#statusbar').fadeTo(1000, 0, function () {
                            $('#Spinner').hide();
                            $('#StatusMessage').text(''); // clear async message
                        });
                    },
                    error: function (xrq, txtStatus, errThrown) {
                        alert(xrq['responseText']);
                        alert(txtStatus);
                    }
                });
            }
        }

        function delegateUpcomingDelete(item){
            if (confirm('Delete Delegate?')) {
                $('#StatusMessage').text('deleting Delegate');
                $('#statusbar').fadeTo(0, 1);
                $('#Spinner').show();
                $.ajax({
                    type: 'DELETE',
                    url: appRoot + 'api/ApprovalDelegate/' + item.Delegate.Id(),//item.Delegate.Id,
                    success: function (d) {
                        vm.FutureAssignedDelegates.remove(item);
                        vm.FutureAssignedDelegatesCount(vm.FutureAssignedDelegates().length);
                        $('#statusbar').fadeTo(1000, 0, function () {
                            $('#Spinner').hide();
                            $('#StatusMessage').text(''); // clear async message
                        });
                    },
                    error: function (xrq, txtStatus, errThrown) {
                        alert(xrq['responseText']);
                        alert(txtStatus);
                    }
                });
            }
        }

        function noEndDate(){
            if($('#IndefiniteCheck').is(':checked')){
                $('#EndDate').hide();
            }else {
                $('#EndDate').show();
            }
        }

        function createDelegate() {
            // TODO: test that parData is not null and is an object...
            $('#StatusMessage').text('creating Delegate');
            $('#statusbar').fadeTo(0, 1);
            $('#Spinner').show();
            

            var apps = [];
            
            if(document.getElementById("PARcheckbox").checked) {
                apps.push({Id: 1});
            };
            if(document.getElementById("PDFcheckbox").checked){ 
                apps.push({Id: 2});
            };
            if(document.getElementById("TimeSheetCheckbox").checked){ 
                apps.push({Id: 3});
            };

            $.ajax({
                type: 'POST',
                url: appRoot + 'api/ApprovalDelegate',
                data: {
                    DelegatedPositionId: vm.ApproverPosition.Id(),
                    DelegatedToPersonId: $('#EmpList').val(),
                    StartDate: $('#StartDate').val(),
                    EndDate: $('#EndDate').val(),
                    Indefinite: $('#IndefiniteCheck').is(':checked'),
                    Apps: apps //[{Id: 1}, {Id: 2}]//apps
                },
                success: function (d) {
                    //returns delegateVm
                    vm.Delegates.push(ko.mapping.fromJS(d));
                    vm.DelegateCount(vm.Delegates().length);
                    $('#statusbar').fadeTo(1000, 0, function () {
                        $('#Spinner').hide();
                        $('#StatusMessage').text(''); // clear async message
                    });
                },
                error: function (xrq, txtStatus, errThrown) {
                    alert(xrq['responseText']);
                    alert(txtStatus);
                }
            });
        }

        function approvalTaskApprove(item) {
            if (confirm('Approve?')) {
                $('#StatusMessage').text('Approving');
                $('#statusbar').fadeTo(0, 1); // fade back in (instantly, not really fade).
                $('#Spinner').show();
                item.Task.FinalApproverPersonLanId(userLanId);
                item.Task.StatusCode('Approved');

                $.ajax({
                    type: 'PUT',
                    url: appRoot + 'api/ApprovalTask/' + item.Task,
                    data: ko.toJS(item.Task), // Task
                    success: function (d) {

                        refreshApprovalWorkflowVm(item);
                        $('#statusbar').fadeTo(1000, 0, function () {
                            $('#Spinner').hide();
                            $('#StatusMessage').text(''); // clear async message
                        });
                    },
                    error: function (xrq, txtStatus, errThrown) {
                        $('#StatusMessage').text(xrq['responseText'] + ':' + txtStatus);
                    }
                });
            }
        }

        function approvalTaskReject(item) {
            if (confirm('Reject?')) {
                $('#StatusMessage').text('Rejecting');
                $('#statusbar').fadeTo(0, 1); // fade back in (instantly, not really fade).
                $('#Spinner').show();
                item.Task.FinalApproverPersonLanId(userLanId);
                item.Task.StatusCode('Rejected');

                $.ajax({
                    type: 'PUT',
                    url: appRoot + 'api/ApprovalTask/' + item.Task,
                    data: ko.toJS(item.Task), // Task
                    success: function (d) {

                        refreshApprovalWorkflowVm(item);
                        $('#statusbar').fadeTo(1000, 0, function () {
                            $('#Spinner').hide();
                            $('#StatusMessage').text(''); // clear async message
                        });

                    },
                    error: function (xrq, txtStatus, errThrown) {
                        $('#StatusMessage').text(xrq['responseText'] + ':' + txtStatus);
                    }
                });
            }
        }
         
        function refreshApprovalWorkflowVm(item) {            
            var vm = $(document).data('viewmodel');
            //TODO: write better search
            for (var i = 0; i < vm.ParApprovals().length; i++) {
                if(vm.ParApprovals()[i].ApprovalTaskVm.Task.Id == item.Task.Id){
                    vm.ParApprovals()[i].ApprovalTaskVm.Status(item.Task.StatusCode());
                    vm.ParApprovals()[i].ApprovalTaskVm.Task.Comment(item.Task.Comment());
                    break;
                }
            }
        }


        function approvalDelegatedTaskApprove(item) {
            if (confirm('Approve?')) {
                $('#StatusMessage').text('Approving');
                $('#statusbar').fadeTo(0, 1); // fade back in (instantly, not really fade).
                $('#Spinner').show();
                item.Task.FinalApproverPersonLanId(userLanId);
                item.Task.StatusCode('Approved');

                $.ajax({
                    type: 'PUT',
                    url: appRoot + 'api/ApprovalTask/' + item.Task,
                    data: ko.toJS(item.Task), // Task
                    success: function (d) {

                        refreshApprovalDelegatedWorkflowVm(item);
                        $('#statusbar').fadeTo(1000, 0, function () {
                            $('#Spinner').hide();
                            $('#StatusMessage').text(''); // clear async message
                        });
                    },
                    error: function (xrq, txtStatus, errThrown) {
                        $('#StatusMessage').text(xrq['responseText'] + ':' + txtStatus);
                    }
                });
            }
        }

        function approvalDelegatedTaskReject(item) {
            if (confirm('Reject?')) {
                $('#StatusMessage').text('Rejecting');
                $('#statusbar').fadeTo(0, 1); // fade back in (instantly, not really fade).
                $('#Spinner').show();
                item.Task.FinalApproverPersonLanId(userLanId);
                item.Task.StatusCode('Rejected');

                $.ajax({
                    type: 'PUT',
                    url: appRoot + 'api/ApprovalTask/' + item.Task,
                    data: ko.toJS(item.Task), // Task
                    success: function (d) {

                        refreshApprovalDelegatedWorkflowVm(item);
                        $('#statusbar').fadeTo(1000, 0, function () {
                            $('#Spinner').hide();
                            $('#StatusMessage').text(''); // clear async message
                        });

                    },
                    error: function (xrq, txtStatus, errThrown) {
                        $('#StatusMessage').text(xrq['responseText'] + ':' + txtStatus);
                    }
                });
            }
        }

        function refreshApprovalDelegatedWorkflowVm(item) {            
            var vm = $(document).data('viewmodel');
            //TODO: write better search 
            for (var i = 0; i < vm.AssignedDelegates().length; i++) {
                for (var j = 0; j < vm.AssignedDelegates()[i].DelegatedParApprovals().length; j++) {
                    if(vm.AssignedDelegates()[i].DelegatedParApprovals()[j].ApprovalTaskVm.Task.Id == item.Task.Id){
                        vm.AssignedDelegates()[i].DelegatedParApprovals()[j].ApprovalTaskVm.Status(item.Task.StatusCode());
                        vm.AssignedDelegates()[i].DelegatedParApprovals()[j].ApprovalTaskVm.Task.Comment(item.Task.Comment());
                        break;
                    }
                }
            }
        }

   </script>
}