﻿@model HrAdmin2.Models.ViewModels.ApprovalVm

@{
    ViewBag.Title = "Approval Position" + " Detail";
    //var ui = Model.CurrentUser;
    Layout = "~/Views/Shared/_Layout_ng.cshtml";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@section pagecss {
    <style>
        .panel-header {
            width: 100%;
            margin: 0px;
            padding: 0px;
        }

        .panel-header td {
            padding: 0px;
            margin: 0px;
        }

        .panel-status, .validation-err {
            background-color: yellow;
            color: darkred;
        }
    </style>
}

<div id="wrapper" style="max-width: 850px;" ng-app="approvalApp" ng-cloak>

    <div id="statusbar" style="float: right; background-color: yellow;">
            <span id="Spinner" style="display: none;"><img src="~/Scripts/jstree/themes/default/throbber.gif" /></span>
            <span id="StatusMessage"></span>
    </div>

    <div id="approval-mapping" ng-controller="approvalCtrl">
        
        <h3>Approvals to be completed by position #{{vm.ApproverPosition.Id}}: {{vm.ApproverPosition.WorkingTitle}}
            <br />
            {{vm.ApproverEmployee.LastName}}, {{vm.ApproverEmployee.PreferredName}}
        </h3>

        <div id="approval-detail" style="max-width: 850px;">
            <ul kendo-panel-bar="panelbar" k-options="options.PanelBar" style="width: 720px;">
                <li>
                    <table class="panel-header">
                        <tr><td>
                            Delegation for position #{{vm.ApproverPosition.Id}} ({{vm.DelegateCount}})
                        </td></tr>
                    </table>
                    <div id="Delegation-info">
@*                        <div id="Delegation-Create">*@
                            <span>Create New Delegate</span>
                            <table class="panel-content">
                                <tr>
                                    <th>Delegate To</th>
                                    <td>
                                        @Html.DropDownList("EmpList", Model.CurrentEmp)
                                    </td>
                                </tr>
                                <tr>
                                    <th>Start Date</th>
                                    <td><input type="text" class="date-input" id="StartDate" kendo-date-picker /></td>
                                </tr>
                                <tr>
                                    <th>End Date</th>
                                    <td>
                                        <span id="HideEndDate"><input type="text" class="date-input" id="EndDate" kendo-date-picker /></span>
                                        <input type="checkbox" id="IndefiniteCheck" value="Indefinite" onclick="noEndDate()"/> No End Date
                                    </td>
                                </tr>
                                <tr>
                                    <th>Apps</th>
                                    <td><input type="checkbox" value="1" id="PARcheckbox" checked/><span>PAR</span><br />
                                    <input type="checkbox" value="2" id="PDFcheckbox" checked/><span>PDF</span><br />
                                    <input type="checkbox" value="3" id="TimeSheetCheckbox" checked/><span>TimeSheet</span></td>
                                </tr>                              
                            </table>
                            <input type="button" value="Create" id="CreateDelegate" onclick="createDelegate()" />
@*                        </div>*@
                        <table class="partable">
                            <tr>
                                <th style="text-align: center;">Delegated To</th>
                                <th style="text-align: center;">Start Date</th>
                                <th style="text-align: center;">End Date</th>
                                <th style="text-align: center;">Apps</th>
                                <th style="text-align: center;"></th>
                            </tr>
                            <tr ng-repeat="delegate in vm.Delegates" ng-class="{even: $index % 2, odd: !($index %2)}">
                                <td>
                                    {{delegate.DelegatedToLastName}}, {{delegate.DelegatedToPreferredName}}
                                </td>
                                <td>
                                    {{delegate.StartDateString}}
                                </td>
                                <td>
                                    {{delegate.EndDateString}}
                                </td>
                                <td>
                                    <span ng-repeat="app in delegate.Delegate.Apps">
                                        {{app.Name}}&nbsp;
                                    </span>
                                </td>
                                <td>
                                    <input type="button" ng-click="delegateDelete(delegate)" value="Delete" />                            
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li>
                    <table class="panel-header">
		                <tr><td>
                            PAR Active Approvals Assigned To Position #{{vm.ApproverPosition.Id}} ({{vm.ApprovalCount}})
                        </td></tr>
                    </table>
                    <div class="panel-content">  
                        <div approval-Partial ng-repeat="parApproval in vm.ParApprovals"></div>
@*                        <table>
                            <tr><td>      
                                <div id="ParApprovalList" ng-repeat="parApproval in vm.ParApprovals">
                                    <div approval-Partial></div>
                                </div>
                            </td></tr>
                        </table>*@
                     </div>
                </li>
                <li>
                    <table class="panel-header">
		                <tr><td>
                            Upcoming Delegations for {{vm.ApproverEmployee.PreferredName}} {{vm.ApproverEmployee.LastName}} ({{vm.FutureAssignedDelegatesCount}})
                        </td></tr>
                    </table>
                    <div id="AssignedDelegate-info">
                        <table class="partable">
                            <tr>
                                <th style="text-align: center;">Delegate For</th>
                                <th style="text-align: center;">Start Date</th>
                                <th style="text-align: center;">End Date</th>
                                <th style="text-align: center;">Apps</th>
                                <th style="text-align: center;"></th>
                            </tr>
                            <tr ng-repeat="delegate in vm.FutureAssignedDelegates" ng-class="{even: $index % 2, odd: !($index %2)}">
                                <td>
                                    {{delegate.DelegatedPositionTitle}}: {{delegate.DelegatedPositionPersonLastName}}, {{delegate.DelegatedPositionPersonPreferredName}}
                                </td>
                                <td>
                                    {{delegate.StartDateString}}
                                </td>
                                <td>
                                    <span>{{delegate.EndDateString}}</span>
                                </td>
                                <td>
                                    <span ng-repeat="app in delegate.Delegate.Apps">
                                        {{app.Name}}&nbsp;
                                    </span>
                                </td>
                                <td>
                                    <input type="button" ng-click="delegateFutureDelete(delegate)" value="Delete" />                           
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li>
                    <table class="panel-header">
		                <tr><td>
                            Active Approvals Delegated to {{vm.ApproverEmployee.PreferredName}} {{vm.ApproverEmployee.LastName}} ({{vm.AssignedDelegatesCount}})
                        </td></tr>
                    </table>
                    <div class="panel-content">  
                        <div ng-repeat="assignedDelegate in vm.AssignedDelegates">  
                            <h3>Delegate for {{assignedDelegate.DelegateVm.DelegatedPositionTitle}}
                                <br />
                                {{assignedDelegate.DelegateVm.DelegatedPositionPersonLastName}}, {{assignedDelegate.DelegateVm.DelegatedPositionPersonPreferredName}} : {{assignedDelegate.DelegatedApprovalsCount}}
                            </h3>
                            <div approval-Partial ng-repeat="parApproval in assignedDelegate.DelegatedParApprovals" />
                        </div>
@*                        <div ng-repeat="assignedDelegate in vm.AssignedDelegates">  
                            <table style="width: 100%;">
                                <tr><td >  
                                    <h3>Delegate for {{assignedDelegate.DelegateVm.DelegatedPositionTitle}}
                                        <br />
                                        {{assignedDelegate.DelegateVm.DelegatedPositionPersonLastName}}, {{assignedDelegate.DelegateVm.DelegatedPositionPersonPreferredName}} : {{assignedDelegate.DelegatedApprovalsCount}}
                                    </h3>     
                                    <div ng-repeat="parApproval in assignedDelegate.DelegatedParApprovals">
                                            <div approval-Partial></div>
                                    </div>
                                
                                </td></tr>
                            </table>
                        </div>     *@
                    </div>                                
                </li>
            </ul>
        </div>
    </div>
</div>

@section scripts{

    @*<script src="~/Scripts/app/polyfills.js"></script>
    <script src="~/Scripts/angular.min.js"></script>*@
    
    <script>
        var userLanId = '@User.Identity.Name.Substring(User.Identity.Name.IndexOf('\\') + 1)';

        var appRoot = '@Url.Content("~")';
        
        var approvalApp = angular.module('approvalApp',['kendo.directives']);

        approvalApp.controller('approvalCtrl', function ($scope) {
            $scope.vm = @Html.Raw(Json.Encode(Model));

            $scope.delegateDelete = function(delegate){
                delegateDelete(delegate);
            }

            $scope.delegateFutureDelete = function(delegate){
                delegateFutureDelete(delegate);
            }

            $scope.approvalTaskApprove = function(taskVm){
                taskVm.Task.StatusCode = 'Approved';                
                approvalTaskComplete(taskVm, 'Approve');
            };


            $scope.approvalTaskReject = function(taskVm){
                taskVm.Task.StatusCode = 'Rejected';
                approvalTaskComplete(taskVm, 'Reject');
            };

            // config options for KendoUI widgets:
            $scope.options = {
                PanelBar: {
                    animation: {
                        collapse: {
                            duration: 300
                        },
                        expand: {
                            duration: 300,
                            effects: 'expandVertical'
                        }
                    },
                    expandMode: "multiple"
                }
            }
        });
       
     
        //http://docs.angularjs.org/guide/directive
        //partial view
        approvalApp.directive('approvalPartial', function () {
            return{
                templateUrl: '@Url.Content("~")' + 'Approval/partialtemplate'
            };
        });

    function approvalTaskComplete(item, msg) {
        if (confirm(msg + '?')) {
            statusMessage(msg);

            item.Task.FinalApproverPersonLanId = userLanId;

            $.ajax({
                method: 'PUT',
                url: appRoot + 'api/ApprovalTask/' + item.Task,
                data: item.Task, // Task
                success: function (d) {
                    refreshApprovalWorkflowVm(item);
                    statusMessageHide();
                },
                error: function (xrq, txtStatus, errThrown) {
                    $('#StatusMessage').text(xrq['responseText'] + ':' + txtStatus);
                }
            });
        }
    }
                 
    function refreshApprovalWorkflowVm(item) {    
        var scope = angular.element($("#approval-mapping")).scope();
        //TODO: write better search
        //refresh your approval list
        for (var i = 0; i < scope.vm.ParApprovals.length; i++) {
            if(scope.vm.ParApprovals[i].ApprovalTaskVm.Task.Id == item.Task.Id){
                //use $apply to update scope
                scope.$apply(function(){
                    scope.vm.ParApprovals[i].ApprovalTaskVm.Status = item.Task.StatusCode;
                    scope.vm.ParApprovals[i].ApprovalTaskVm.Task.Comment = item.Task.Comment;
                });
                return;
            }
        }
        //refresh delegate approval list
        for (var j = 0; j < scope.vm.AssignedDelegates.length; j++) {
            for (var k = 0; k < scope.vm.AssignedDelegates[j].DelegatedParApprovals.length; k++) {
                if(scope.vm.AssignedDelegates[j].DelegatedParApprovals[k].ApprovalTaskVm.Task.Id == item.Task.Id){
                    //use $apply to update scope
                    scope.$apply(function(){
                        scope.vm.AssignedDelegates[j].DelegatedParApprovals[k].ApprovalTaskVm.Status = item.Task.StatusCode;
                        scope.vm.AssignedDelegates[j].DelegatedParApprovals[k].ApprovalTaskVm.Task.Comment = item.Task.Comment;
                    });
                    return;
                }
            }
        }
    }
        
    function statusMessage(msg){
        $('#StatusMessage').text(msg);
        $('#statusbar').fadeTo(0, 1);
        $('#Spinner').show();
    }

    function statusMessageHide(){
        $('#statusbar').fadeTo(1000, 0, function () {
            $('#Spinner').hide();
            $('#StatusMessage').text(''); // clear async message
        });
    }
        
    function delegateDelete(item){
        if (confirm('Delete Delegate?')) {
            statusMessage('Deleting Delegate');
            $.ajax({
                type: 'DELETE',
                url: appRoot + 'api/ApprovalDelegate/' + item.Delegate.Id,
                success: function (d) {
                    //remove delgate from list                       
                    var scope = angular.element($("#approval-mapping")).scope();
                    scope.$apply(function(){
                        var index = scope.vm.Delegates.indexOf(item);
                        scope.vm.Delegates.splice (index, 1);
                        scope.vm.DelegateCount = scope.vm.Delegates.length;                                                       
                    });
                    statusMessageHide();
                },
                error: function (xrq, txtStatus, errThrown) {
                    alert(xrq['responseText']);
                    alert(txtStatus);
                }
            });
        }
    }

    function delegateFutureDelete(item){
        if (confirm('Delete Delegate?')) {
            statusMessage('Deleting Delegate');
            $.ajax({
                type: 'DELETE',
                url: appRoot + 'api/ApprovalDelegate/' + item.Delegate.Id,
                success: function (d) {
                    //remove delegate from list
                    var scope = angular.element($("#approval-mapping")).scope();
                    scope.$apply(function(){
                        var index = scope.vm.FutureAssignedDelegates.indexOf(item);
                        scope.vm.FutureAssignedDelegates.splice (index, 1);
                        scope.vm.FutureAssignedDelegatesCount = scope.vm.FutureAssignedDelegates.length;                                                       
                    });
                    statusMessageHide();
                },
                error: function (xrq, txtStatus, errThrown) {
                    alert(xrq['responseText']);
                    alert(txtStatus);
                }
            });
        }
    }

    function noEndDate(){
        if($('#IndefiniteCheck').is(':checked')){
            $('#HideEndDate').hide();
        }else {
            $('#HideEndDate').show();
        }
    }

    function createDelegate() {
            
        if(checkDateRange($('#StartDate').val(),
            $('#EndDate').val(),
            $('#IndefiniteCheck').is(':checked'))){
            
            // TODO: test that parData is not null and is an object...
            statusMessage('creating Delegate');
            

            var apps = [];
            
            if(document.getElementById("PARcheckbox").checked) {
                apps.push({Id: 1});
            };
            if(document.getElementById("PDFcheckbox").checked){ 
                apps.push({Id: 2});
            };
            if(document.getElementById("TimeSheetCheckbox").checked){ 
                apps.push({Id: 3});
            };

            var scope = angular.element($("#approval-mapping")).scope();

            $.ajax({
                type: 'POST',
                url: appRoot + 'api/ApprovalDelegate',
                data: {
                    //DelegatedPositionId: vm.ApproverPosition.Id(),
                    DelegatedPositionId: scope.vm.ApproverPosition.Id,
                    DelegatedToPersonId: $('#EmpList').val(),
                    StartDate: $('#StartDate').val(),
                    EndDate: $('#EndDate').val(),
                    Indefinite: $('#IndefiniteCheck').is(':checked'),
                    Apps: apps //[{Id: 1}, {Id: 2}]//apps
                },
                success: function (d) {
                    //returns delegateVm
                    scope.$apply(function(){
                        scope.vm.Delegates.push(d);
                        scope.vm.DelegateCount(scope.vm.Delegates.length);
                    });
                    statusMessageHide();
                },
                error: function (xrq, txtStatus, errThrown) {
                    alert(xrq['responseText']);
                    alert(txtStatus);
                }
            });
        }
    }

    //http://stackoverflow.com/questions/73971/using-javascript-how-do-i-make-sure-a-date-range-is-valid
    function checkDateRange(start, end, indefinite) {
        // Parse the entries
        var startDate = Date.parse(start);
        var endDate = Date.parse(end);
        // Make sure they are valid
        if (isNaN(startDate)) {
            alert("The start date provided is not valid, please enter a valid date.");
            return false;
        }
        if(indefinite) return true;

        if (isNaN(endDate)) {
            alert("The end date provided is not valid, please enter a valid date.");
            return false;
        }
        // Check the date range, 86400000 is the number of milliseconds in one day
        var difference = (endDate - startDate) / (86400000 * 7);
        if (difference < 0) {
            alert("The start date must come before the end date.");
            return false;
        }
            
        return true;
    }
        
   </script>

}