﻿@model HrAdmin2.Models.ViewModels.SearchResultVm

@{
    ViewBag.Title = "NgSearch";
    Layout = "~/Views/Shared/_Layout_ng.cshtml";
}
@section headscript {
<script src="~/Scripts/app/hr.js"></script>
}
<div id="ng-app" ng-app="hr" ng-controller="SearchController">
<h2>Search</h2>
<form method="get" action="@(Url.Content("~") + "Search2")">
    <input type="text" id="q" name="q" style="width:200px;" value="@Model.Params.q" />
    <input type="submit" id="SearchButton" value="search"></input>
    <br />
    *search by employee first or last name or CTS position number
</form>

<hr />
<table id="ResultList" ng-if="vm.Results.length" class="partable">
    <tr>
        <th><a ng-click="sortOn('LastName')">Last</a></th>
        <th><a ng-click="sortOn('PreferredName')">First</a></th>
        <th><a ng-click="sortOn('PositionId')">Pos #</a></th>
        <th><a ng-click="sortOn('WorkingTitle')">Working Title</a></th>
    </tr>
    <tr ng-repeat="r in vm.Results | orderBy: (desc ? '-' : '') + sortField" ng-class="{'even': $index % 2, 'odd': !($index %2 )}">
        <td>
            <a href='~/Employee/{{ r.Id }}' target="_self">{{ r.LastName }}</a>
        </td>
        <td>{{ r.PreferredName }}</td>
        <td><a href="~/Position/{{ r.PositionId }}">{{ r.PositionId }}</a></td>
        <td><a href="~/Position/{{ r.PositionId }}">{{ r.WorkingTitle }}</a></td>
    </tr>
</table>
</div>
@section footscript {
<script>
    var vm = @Html.Raw(Json.Encode(Model)); // TODO: verify whether this works with null Model, possibly move to template?
</script>
}