﻿@model HrAdmin2.Models.ViewModels.ChecklistsVm
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_ng.cshtml";
}
@section headscript {
    <script src="~/Scripts/app/ng-checklist.js"></script>
}
<h2>Checklist</h2>


<div id="ng-app" ng-app="app" ng-controller="ChecklistController">
    <table class="partable">
        <tr>
            <th>
                <a ng-click="sort('ParId')">Par#</a>
            </th>
            <th>
                <a ng-click="sort('EffectiveDate')">Effective Date</a>
            </th>
            <th>
                <a ng-click="sort('Name')">Name</a>
            </th>
            <th>
                <a ng-click="sort('ParType')">Par Type</a>
            </th>
            <th>
                <a ng-click="sort('Supervisor')">Supervisor</a>
            </th>
            <th>
                <a ng-click="sort('Title')">Title</a>
            </th>
            <th>
                <a ng-click="sort('UpdateBy')">Updated By</a>
            </th>

        </tr>
        <tr ng-repeat="r in rows" | orderBy: (desc ? '-' : '') + sortField" ng-class="{'even': $index % 2, 'odd': !($index %2 )}" style="vertical-align:top;">
            <td>
                <span style="font-weight: bold;">{{ r.ParId }}</span>
            </td>
            <td>{{ formatJsonDate( r.EffectiveDate) | date:'M/d/yyyy'}}</td>

            <td style="white-space: nowrap;">
                <a href = '@Url.Content("~")checklist/{{ r.ParId }}'>{{ r.Name }}</a>
            </td>
            <td>{{ r.ParType }}</td>
            <td>{{ r.Supervisor }}</td>

            <td>{{ r.Title }}</td>
            <td>{{ r.UpdateBy || '[UNPROCESSED]' }}</td>

        </tr>
    </table>

</div>

@section footscript {
    <script>
        var rows = @Html.Raw(Json.Encode(Model.Checklists)); // raw JSON for use as Angular Model.  
    </script>
}